[2016-08-23 16:13] remarkablemark opened #1 "Create lint task"
Add [ESLint](http://eslint.org) as the default linter.

[2016-08-23 16:28] #1 closed

[2016-08-23 20:54] remarkablemark opened #3 "Setup Travis CI"
Run tests for code confidence.

[2016-08-23 22:39] #3 closed

[2016-08-24 16:33] remarkablemark opened #6 "Make package UMD compatible"
Currently, the package doesn't work if bundled by [webpack](https://webpack.github.io) or [browserify](http://browserify.org) or loaded via `<script>` or [RequireJS](http://requirejs.org/) (AMD).

Resources:
- [Tutorial](http://davidbcalhoun.com/2014/what-is-amd-commonjs-and-umd/)
- [UMD](https://github.com/ForbesLindesay/umd)
- [UMD template](https://github.com/ForbesLindesay/umd/blob/master/temp

[2016-08-24 20:59] remarkablemark opened #7 "Fix HTML to DOM client parser"
`DOMParser` wraps certain elements within `<html>` and `<body>`, which breaks client-side parser.

Example:
[code]

[2016-08-24 21:21] remarkablemark opened #8 "Write client-side tests"
Test the following:
- bundles correctly
- works in the various UMD environments:
  - CommonJS
  - RequireJS (AMD)
  - `<script>` tag
- client parser works as expected

[2016-08-24 21:27] #6 closed

[2016-08-24 22:50] #7 closed

[2016-08-25 15:49] remarkablemark opened #11 "Setup Coveralls"
Setup code coverage statistics with [Istanbul](http://gotwarlost.github.io/istanbul/) and [Coveralls](https://coveralls.io).

[2016-08-25 21:37] #11 closed

[2016-08-26 13:38] poacher2k opened #14 "Error: img is a void element tag and must neither have `children` nor use `dangerouslySetInnerHTML`"
Hi!

Great plugin, really think this is going to be helpful for what I'm working on.

I noticed that parsing any `img`-element causes the above error. This may also apply to any element that never should have child elements.

A temporary workaround is to use something like this:

[code]

[2016-08-26 15:24] remarkablemark commented on #14
Thanks for letting me know. Do you have an example so I can reproduce this error?

[2016-08-29 06:54] poacher2k commented on #14
Hi!
You can reproduce this with the following:
`ReactDOM.render(Parser('<div><img src="" alt=""/></div>'), document.getElementById('root'));`

[2016-08-29 19:00] #14 closed

[2016-08-29 19:13] poacher2k commented on #14
Awesome, thank you!

[2016-08-29 19:13] remarkablemark commented on #14
@poacher2k Thanks for the example. I've looked into the bug and made a fix in #16.

Try `npm update html-react-parser` or `npm install html-react-parser@0.0.4` and let me know if this removes the error for you.

[2016-08-29 19:42] poacher2k commented on #14
That fixed it, thanks again! Glad to see you also added checks for other void elements!

[2016-08-29 20:05] remarkablemark commented on #14
Great to hear and you're very welcome! 👍

[2016-08-30 16:25] remarkablemark opened #19 "Fix <script> and <style> parsing"
Current behavior:
[code]

The error stems from the flawed logic [here](https://github.com/remarkablemark/html-react-parser/blob/7522a0aca4a023f99c4b71564fed725f7c665848/lib/dom-to-react.js#L54). The if-check for `node.children[0]` needs to be separated and there needs to be a check for `style` tag as well.

React's [Dangerously Set innerHTML](https://facebook.github.io/react/tips/dangerously-set-i

[2016-08-30 16:37] #19 closed

[2016-09-27 15:39] remarkablemark opened #23 "Error: Client parser breaks when first element has attributes"
When the [client parser](https://github.com/remarkablemark/html-react-parser/blob/80ca2e255f2c3833c09875b9843aa5a6f592a8a7/lib/html-to-dom-client.js) parses an HTML string where the first element has attribute(s), this causes the [regex](https://github.com/remarkablemark/html-react-parser/blob/80ca2e255f2c3833c09875b9843aa5a6f592a8a7/lib/html-to-dom-client.js#L105) to match an improper tag name an

[2016-09-27 15:58] #23 closed

[2016-11-17 18:41] struesdell opened #29 "Support for React 15.4.x?"
It looks like this library has been broken by the move to React 15.4.x.

[code]

[2016-11-17 19:22] #29 closed

[2016-11-17 19:30] struesdell commented on #29
Thanks for the quick response! NPM wouldn't let me roll back to 15.3 so this was a lifesaver!

[2016-11-17 19:36] remarkablemark commented on #29
No problem! I'm still seeing the error in my webpack build for the client bundle, so I'm looking into why it's still not working there. The node package should be fine. Keep me updated if it still gives you any errors.

[2016-11-17 19:47] struesdell commented on #29
Okay yeah, it looks like the first error re: `attributes-to-props.js` is gone, but I'm seeing the same errors with `DOMPropertyConfig.js`.

[2016-11-17 20:08] remarkablemark commented on #29
This is when you webpack, right? I actually realized the error does not break anything because webpack will try to bundle all requires whether it exists or not.

In this case, since I use a [try-catch](https://github.com/remarkablemark/html-react-parser/pull/30/files#diff-a814947f0ab8e9e2686ad8b98bbef956R11) to require the configs from both `react-dom/lib/` and `react/lib/`, there will always be a

[2016-11-17 20:14] struesdell commented on #29
Yeah I'm seeing my app and parser use-cases are still fully functional after the errors.
I'm not too concerned about the immediate warnings, and do really appreciate the effort.

This third options feels like the right solution for the long-term, but since 15.4 just hit yesterday I understand preferring to stay stable and avoid forcing upgrades for other consumers. 👍

[2016-11-17 20:32] remarkablemark commented on #29
Thanks @struesdell for the feedback. I'll continue to think about the different solutions but I believe your recommendation makes the most sense. I'll most likely make the changes later today.

[2016-11-18 21:09] remarkablemark commented on #29
@struesdell, as we've discussed, I've published `0.3.0`, which should be good for `react` and `react-dom` >=15.4 (#32)

`0.2.0` will support `react` <= 15.3 (#31)

[2017-01-10 17:41] soenkekluth opened #33 "Really nice! but what about Performance?"
did you use this in a bigger Project? whats your experience of the performance? maybe you ran some performance tests?

[2017-01-10 20:32] remarkablemark commented on #33
This parser was originally built due to a work requirement. However, that requirement changed and so the parser was removed. Therefore, I do not have conclusive evidence about how well it scales in larger projects. The parser will do its job, but if you're looking for speed, then you should just use [React](https://github.com/facebook/react).

In order to properly answer your question about perfor

[2017-01-17 18:50] chrisbateman opened #34 "Ability to pass options to htmlparser2"
In order to set set `decodeEntities` to true, for example.

I think that the call to `htmlToDOM` on this line just needs to pass in a 2nd parameter with options: https://github.com/remarkablemark/html-react-parser/blob/master/index.js#L21

[2017-01-17 21:59] remarkablemark commented on #34
That's a good point.

If `decodeEntities` is true by default, then would passing options to `htmlparser2` still be a desirable feature?

[2017-01-26 03:20] chrisbateman commented on #34
That's the only one I needed.

htmlparser does have some other options though: https://github.com/fb55/htmlparser2/wiki/Parser-options

[2017-01-26 19:49] remarkablemark commented on #34
For now, I will set `decodeEntities` to true by default and when the use-case for setting additional options arises, I'll then decide how the feature should be added.

My rationale for this is because `html-react-parser` is an isomorphic library so if the parsing were to change on node, then I need to ensure that the same change occurs on the browser (`htmlparser2` is not loaded nor used on the cl

[2017-01-26 20:03] #34 closed

[2017-05-27 21:13] jshuadvd opened #38 "Strangely adding a 141% padding-bottom to an inserted <div> upon rendering."
Hi there! Awesome module. Everything is working flawlessly, with the exception of one thing. I am parsing `<iframe>` with this. It suits my needs fine with a single exception thus far. When I parse an  `<iframe>` from a Google Doc or something similar the module is automatically inserting a `padding-bottom: 141.423%` to the element in question. I can hack this with CSS by targeting my parent class

[2017-05-28 01:12] remarkablemark commented on #38
@jshuadvd Would you mind providing some sample code so I can reproduce this bug? I ask this because I find it strange that it would be doing this.

Feel free to use the fiddle: http://jsfiddle.net/remarkablemark/kogm4gjp/

[2017-06-09 05:31] iEricKoh opened #39 "The image will be download even without render it to the page when parsing images"
Currently I am try to parse the html that contains ``img`` tag.

My template text:
[code]

After parsed this template, the image will be download even without insert the parse result.

Because I am going to wrap all the images into a lazy load component, which works with your component.

The following could help to parse string to document, even the string contains image tag, the image won't be do

[2017-06-09 23:35] remarkablemark commented on #38
It seems like the issue is coming from the HTML itself:

![screenshot](https://user-images.githubusercontent.com/10594555/26997758-52daefd0-4d4a-11e7-9784-23fd8dcaeef6.png)

Once you remove the declaration, it should be good (see [fiddle](http://jsfiddle.net/remarkablemark/kogm4gjp/2/)).

Does this resolve your problem @jshuadvd?

[2017-06-10 01:11] remarkablemark commented on #39
@iEricKoh Thanks for bringing this to my attention.

Currently, the package depends on [html-dom-parser](https://github.com/remarkablemark/html-dom-parser) which uses [DOMParser for client parsing](https://github.com/remarkablemark/html-dom-parser/blob/v0.0.2/lib/html-to-dom-client.js#L63). However, there's an error in the if logic which is causing it to be skipped for the fallback approach.

I op

[2017-06-13 08:22] jshuadvd commented on #38
Hmm. Yes I am not sure where that is coming from. It seems to be when it is injected into the Parser it is being added. I can remove that declaration in the dev tools, but not in the app.

[2017-06-17 20:44] #39 closed

[2017-06-17 20:57] remarkablemark commented on #39
The issue should be resolved in the latest version:
[code]

[2017-06-17 21:03] remarkablemark commented on #38
Since the issue is coming from the app and not the parser, then I'm unsure what can be done on my end.

Perhaps the [replace](https://github.com/remarkablemark/html-react-parser#replacedomnode) option can help you out? Otherwise, I will be closing the issue then.

[2017-06-17 21:03] #38 closed

[2017-07-01 22:52] vuldin opened #42 "Module not found: Error: Can't resolve 'react-dom/lib/HTMLDOMPropertyConfig'"
It looks like the current version of this project is attempting to use a private React API that has been removed in recent versions of React. I'm getting the following error when trying to use this library within [zeit](https://zeit.co/) [next](https://github.com/zeit/next.js) project while building for production(`npm run build`):
[code]
[Here](https://twitter.com/dan_abramov/status/7989263050308

[2017-07-02 01:48] remarkablemark commented on #42
@vuldin Are you sure you have the correct version of `html-react-parser`, `react`, and `react-dom` installed? I tried to reproduce the issue but everything still worked for me.

I updated `react` and `react-dom` based on [`next`'s specified versions](https://github.com/zeit/next.js/blob/v3-beta/package.json#L135-L136):
[code]

Then I ran `npm test` and it passed with no errors.

Some more informat

[2017-07-09 23:40] remarkablemark commented on #42
@vuldin Were you able to confirm the versions? If there are no more questions, then I'll assume that the issue has been resolved.

[2017-07-10 00:19] vuldin commented on #42
I apologize for no response yet, but I will get back with more details by this time tomorrow (or sooner). I need to reinstall the module... I uninstalled after this issue showed up so I could make progress on my project.

[2017-07-10 22:33] vuldin commented on #42
I just created a new project, installed `react`, `react-dom`, `next`, and `html-react-parser`. N problems appeared, so it looks like this issue is related to some dependency issue in my initial project. Sorry about the incorrect issue! Thanks.

[2017-07-10 22:33] #42 closed

[2017-07-10 23:28] remarkablemark commented on #42
No problem. Glad that everything worked out!

[2017-09-27 18:55] brandontrowe opened #43 "Support for React 16.0.0"
`./~/html-react-parser/lib/property-config.js
Module not found: Can't resolve 'react-dom/lib/SVGDOMPropertyConfig' in 'C:\Users\roweb\Documents\workspace\poc-digital-job-aids-ui\node_modules\html-react-parser\lib'`

It looks like some of the `SVGDOMPropertyConfig` files are no longer available to import with the new version of react. Their suggestion is to copy and paste the code...

See: https://

[2017-09-28 11:50] remarkablemark commented on #43
Thanks for bringing this to my attention @brandontrowe

I'll copy the DOM property configs over and make a release either today or tomorrow.

[2017-10-01 19:26] #43 closed

[2017-10-01 19:46] remarkablemark commented on #43
@brandontrowe [`html-react-parser@0.4.0`](https://github.com/remarkablemark/html-react-parser/tree/v0.4.0) should resolve the issue now:
[code]

It includes a new dependency [`react-dom-core`](https://github.com/remarkablemark/react-dom-core) which copies and exposes [modules in lib](https://unpkg.com/react-dom@15.6.2/lib/) from `react-dom@15.6.2`.

Let me know if you encounter any issues.

[2018-01-05 08:26] vidit1 commented on #14
I am still facing the issue and npm install html-react-parser@0.0.4  code is not updated in this version.

[2018-01-05 12:54] remarkablemark commented on #14
@vidit1 Can you confirm that you installed the `latest` version?

[code]

Then verify by doing:
[code]

[2018-01-12 06:43] blueskysmart commented on #14
@remarkablemark I updated the latest version html-react-parser and still face this issue. My <img> element  is inside a material-ui component.
`<Drawer
                    open={this.state.open}
                    docked={false}
                    openSecondary={true}
                    onRequestChange={this.onRequestChange}
                    width="50%"

                    <div className="a

[2018-01-12 08:08] poacher2k commented on #14
@blueskysmart : You have `Bootstrap` inside your `img`-tag. As the error says, `img` is a void element, and cannot have any children. Changing your code to this should solve the issue:
`<Drawer> <div className="alert" role="alert"> <img src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" className="d-inline-block align-top" alt="" /> </div> </Drawer>`

[2018-01-12 08:18] remarkablemark commented on #14
@blueskysmart The comment made by @poacher2k is correct. You can see the reproduction of this error in this [fiddle](https://jsfiddle.net/remarkablemark/Lrrbsy72/).

[2018-01-18 21:11] oliverodaa opened #47 "Is it compatible with htmlparser format?"
Is it possible for us to call the following?
[code]

The `htmlparser2` format contains circular references, which prevents us from calling `JSON.stringify()` on it, so we'd like to use `htmlparser` if we can.

[2018-01-19 00:58] remarkablemark commented on #47
@oliverodaa Should be possible:

[code]

Let me know if you experience any issues; otherwise, please close the issue if it works.

[2018-01-22 08:20] blueskysmart commented on #14
Okie, I see. Thank you.

[2018-01-22 19:55] oliverodaa commented on #47
Thank you for the quick response! I am still in the process of working on it but will be sure to close the issue when I have confirmed that it either works or doesn't work.

[2018-01-22 22:48] oliverodaa commented on #47
I can confirm that it does in fact work! I ended up using `htmlparser2` but then when I called `JSON.stringify()` I removed any circular references like this:

[code]

[2018-01-22 22:48] #47 closed

[2018-03-03 02:52] KDCinfo opened #48 "Parsing Events / Event Listeners"
How would you handle applying event listeners? My current HTML/JavaScript app is currently complemented with `addEventListener()`s, which I figured I would just refactor to be `onclick`, `onchange`, etc. However, neither `onclick` nor `onClick` seemed to work. I also tried with `='return myFunc(e)'`, `='myFunc(e)'`, and just `='myFunc'`. I see the `className`s changing/working (when I change them)

[2018-03-03 09:33] KDCinfo commented on #48
I was able to add my own `onClick` event handler via the `parser options` as referenced in your examples. I will likely end up going with a `switch` statement, but until I get there, below was my workable test code:
[code]

[2018-03-03 18:33] remarkablemark commented on #48
@KDCinfo your solution is the recommended approach for parsing event listeners in the HTML markup. Please close the issue if there are no other questions.

[2018-03-03 19:13] KDCinfo commented on #48
Good to know. Thanks!

[2018-03-03 19:13] #48 closed

[2018-05-09 11:18] jitendrapal00 opened #51 "how to use Parse in loop for replace the value with multiple?"
just like as

("<a id="abc">hello</a>")

and I want to replace hello with match the tag id and found in an array and return and HTML. Is It Possible to Parser in loop?

**here is my code**

any suggestion guys?

[2018-05-10 06:54] jitendrapal00 commented on #51
Hello @remarkablemark, my question was, I am using

and I need to replace some value then I am using  Parser(content, {

                                    replace: (domNode) => {

_here I am my code for the match and return value or replace  the value_

}}

when I do pass the parameter   "content" to **Parser**  then It is an error occurs **TypeError: First argument must be a string**

[2018-05-10 08:07] jitendrapal00 commented on #51
I solved my issue, it has miner mistake

Thanks **@remarkablemark**

[2018-05-10 08:08] #51 closed

[2018-05-10 11:53] remarkablemark commented on #51
No problem, great to hear that you were able to resolve your issue

[2018-05-29 08:15] jackdh opened #53 "Can I use onClick within the parser?"
Hello,

I would like to be able to use onClick={this.work}, however the onClick does not seem to work.

Is this the expected behavior?

Thanks,

[2018-05-30 04:05] remarkablemark commented on #53
Hi @jackdh, do you mind sending me a simplified [fiddle](https://jsfiddle.net/remarkablemark/7v86d800/) so I can see what you're trying to do?

[2018-06-01 14:47] smiile opened #54 "attribs"
Hello, thanks for the great library!

I was wondering about your choice in abbreviating attributes as `attribs`. It's not standard and not easily recognizable (the only thing it reminds me of is ribs, which I love, but are unrelated).
Most of the project I've used, if abbreviating at all, which is becoming more rare these days, use `attr` and `attrs`.

Conventions are cool because they provide men

[2018-06-03 17:01] remarkablemark commented on #54
Hi @smiile, I appreciate the feedback!

The reason attributes is abbreviated as `attribs` because this library uses [htmlparser2](https://github.com/fb55/htmlparser2) and that's what htmlparser2 does.

So I don't think htmlparser2 will be renaming the property key any time soon and if they do, it will be a breaking change for all of us.

Although I could add another property named `attributes` to

[2018-06-05 18:44] aaronbarker opened #55 "Deep parsing with replace, readme example doesn't work"
This worked perfectly for the first level in my HTML, thank you! But children were not getting replaced. I even used your `prettify` example from the readme, and my output is:

[code]
only getting the first replaced element, not both.

Am I misinterpreting your example, or is something broken?

[2018-06-07 05:04] remarkablemark commented on #55
@aaronbarker I'm still able reproduce the expected output from the example--see [repl.it](https://repl.it/@remarkablemark/html-react-parser-advanced-example).

There is a minor error in that `options` should be `parserOptions` in the example. If you'd like to submit a fix, I would be happy to take a look =)

[2018-06-07 20:48] nkrambo opened #56 "Exclude nodes with replace"
Are there any plans to be able to easily exclude nodes entirely with the replace option?

Perhaps by returning `null`?

[2018-06-11 13:05] loretoparisi opened #58 "Parse text nodes"
I have text nodes like `<span style="background-color:rgb(187,255,187)">Hello World!</span>` and I have tried like

[code]

but the parsed element is the contents (i.e. the text of the node) not the `<span>` itself.

[2018-06-11 17:27] nkrambo commented on #56
@remarkablemark That's actually a great solution, I didn't even think of that.

I'm not sure how useful it would actually be implementing a solution got <16 users. But perhaps, an updated docs around excluding nodes like this would be useful?

Thanks.

[2018-06-12 12:55] loretoparisi commented on #58
I have solved it using _node.outerHTML_!

[2018-06-12 12:55] #58 closed

[2018-06-13 00:38] remarkablemark commented on #58
Great to hear that you solved it!

[2018-06-13 00:41] remarkablemark commented on #56
Updating the docs sound like a great idea @nkrambo

Feel free to submit a PR if you'd like--otherwise, I can add the one used in our discussion

[2018-06-13 00:47] remarkablemark commented on #55
Let me know if you're still having trouble with the example output--otherwise, I'll be closing this issue. Thanks @aaronbarker

[2018-06-13 01:29] remarkablemark commented on #53
@jackdh Do you mean something like this? https://jsfiddle.net/remarkablemark/txg6yc23/

[2018-06-13 01:37] remarkablemark commented on #54
Hey @smiile, do you have any other thoughts on this matter? If not, I'll be closing this issue. Thanks!

[2018-06-13 03:47] smiile commented on #54
Hey @remarkablemark, for the sake of argument I'd like to add that having an additional getter wouldn't impact performance, but I haven't checked if you use the appropriate ES version for that. Given that I'm the only one who's bothered by that and it's a code style comment I agree on closing the issue. Thanks for your extensive reply on it

[2018-06-13 03:47] #54 closed

[2018-06-13 04:03] remarkablemark commented on #54
You're very welcome. Thanks for taking the time to bring this point up in the first place too!

[2018-06-13 08:57] loretoparisi commented on #58
@remarkablemark thanks, I'm actually using your plugin for a React Chrome extension example here https://stackoverflow.com/questions/50813685/modify-react-app-in-chrome-extension

The example code is here https://github.com/loretoparisi/chrome-extension-react-app

maybe you can give me some hint about this 👍

[2018-06-13 12:12] Remownz opened #59 "SSR - crashes with "navigator is not defined""
Hi,

in compiled "html-react-parser.js" is a function (isIE) which seems to be called only by importing your lib. On server side this function crashes my build due to unchecked existence of navigator.

"ReferenceError: navigator is not defined"

[2018-06-13 13:43] jackdh commented on #53
Hi @remarkablemark

Sorry for the late reply. I'm afraid I no longer have the example as we went with a work around.

If it can't be replicated I'm happy for this issue to be closed.

Thanks.

[2018-06-13 13:43] #53 closed

[2018-06-13 15:31] davesnx opened #60 "Fails on createElements that doesn't exist"
Hey @remarkablemark,

I'm working on a project where we can't control the user input and we rely on that to create some React elements, like bold/italic and this kind of stuff.

So, we are running into a problem when the input looks like: `<c&/>` or any non-valid html tag, but still looks like someone is trying to parse it.

[code]
and it comes from ReactDOM, so I suspect that we are sending down

[2018-06-13 15:42] davesnx commented on #60
I'm using latest `html-react-parser` (`0.4.6`) and latest `react` (`16.4.0`).

Probably adding a validation into what's a valid html tag, as a whitelisting what's allowed; or actually, the other way arround, blacklisting the characters non-valid.

[2018-06-15 02:50] aaronbarker commented on #55
Awesome, thanks!

[2018-06-15 02:50] #55 closed

[2018-06-16 18:28] nkrambo commented on #56
@remarkablemark - Sounds good. I'll get a PR your way.

[2018-06-19 23:27] remarkablemark commented on #59
Hi @Remownz, if I understand correctly, are you importing the library via:
[code]

If so, the error is expected because you're importing the browser build of the library.

Is there any reason why you're unable to import the library via:
[code]

See [example](https://repl.it/@remarkablemark/html-react-parser).

[2018-06-20 00:43] remarkablemark commented on #60
@davesnx Thanks for opening the issue with a detailed explanation and reproducible example. You're right that `html-react-parser` and `html-dom-parser` do not validate tag names. That is actually expected behavior.

If you're dealing with user input in which you need to validate it yourself, have you tried using the [`replace`](https://github.com/remarkablemark/html-react-parser#replacedomnode) op

[2018-06-20 08:18] davesnx commented on #60
Thanks for the response @remarkablemark

On my site... just replaced the `<` & `>` to HTML entities, so '&lt;' and '&lt;'. Works pretty well for my case.

I just opened this because I didn't expect to be the expected behaviour.

👍

[2018-06-20 09:18] Remownz commented on #59
Hi @remarkablemark,

no, i imported your package as usual:

`import HTMLStringParser from 'html-react-parser';`

On serverside a error was thrown by your lib ("ReferenceError: navigator is not defined"), so i checked where this error came from. I found the function (isIE) inside the compiled version of your lib.

[2018-06-20 23:36] remarkablemark commented on #59
Hmm... that is very strange @Remownz

Could you create a repository or Gist that reproduces this error?

And any information pertaining to your OS, Node.js, and NPM/Yarn would be helpful as well.

[2018-06-20 23:41] remarkablemark commented on #60
@davesnx Gotcha that makes sense.

So since this is expected behavior, can this issue to be closed? Or do you think it's useful to document this somewhere like in the `README.md`?

[2018-06-21 07:13] Remownz commented on #59
@remarkablemark sorry, i've no time for that and i already switched to another lib (react-html-parser). I just want to leave this issue here.

[2018-06-21 23:37] remarkablemark commented on #59
No problem @Remownz. Since this issue cannot be reproduced on my side, can it be closed?

[2018-06-22 20:58] davesnx commented on #60
Nah, I will close it.

[2018-06-22 20:58] #60 closed

[2018-07-18 13:22] phawxby opened #61 "Allow replace to return an array or replacement nodes"
We have some templates which have a placeholder `<div id='foo'></div>` where we want to inject the child nodes of a component.

[code]

This works great if props.children is only a single react node, if it's an array of React nodes it breaks. I believe the problem [to be here](https://github.com/remarkablemark/html-react-parser/blob/master/lib/dom-to-react.js#L28). A array is obviously not a valid

[2018-07-19 21:44] phawxby commented on #61
Well that works perfectly and I've learnt something new! Thanks

[2018-07-19 21:44] #61 closed

[2018-07-23 16:25] rscott78 opened #62 "Don't change case of tags"
I noticed that the parser changes everything to lower case, which is bad for me since I have some case sensitive tags.

Is there a way to prevent this?

[2018-07-24 13:17] k1sul1 opened #63 "Input default values"
I've used this package as a peer dependency for react-libre-form, and we're currently using it in a "large scale" React application. Great work on it!

The issue is about react-libre-form, kinda. It's a React component for WP Libre Form,  a form plugin for WordPress that let's you have 100% control of the markup.

So this is my problem. Say I get this chunk of HTML from the WP REST API:

[code]

I

[2018-07-24 21:15] remarkablemark commented on #62
Can I ask for an example of this problem? Technically, shouldn't HTML tags and attributes be [case-insensitive](http://w3c.github.io/html-reference/documents.html#case-insensitivity)?

But regarding the question at hand, the parser is lowercasing the attributes to easier convert them to React props (see [here](https://github.com/remarkablemark/html-react-parser/blob/97d6868fbad8322692c65e37795a1c3

[2018-07-24 21:16] #59 closed

[2018-07-25 00:20] remarkablemark commented on #63
You are correct in that `defaultValue` is not a native DOM element attribute but a React-specific prop for elements.

But the reason why the `defaultValue` is not passed to your React element is because the attribute gets lowercased when transforming from HTML string to DOM nodes. Then when the DOM nodes get transformed to React elements, it gets lost in the way because it's invalid.

Hence, one a

[2018-07-25 11:20] k1sul1 commented on #63
I like it. We're heavily using the replace function anyway, so this is a perfect fix.

I'd add this to the README so you don't have to answer the same question again.

[2018-07-25 13:13] k1sul1 commented on #63
It works.

https://github.com/libreform/react-libre-form/blob/8f7dfa12b6da8bf364c68d851f97ff770c95a25c/src/index.js#L85

Cheers.

[2018-07-25 13:13] #63 closed

[2018-08-02 13:12] alundiak opened #64 "Can't resolve 'css/lib/parse' in ...style-to-object'"
[code]

Any ideas if this is webpack issue or `style-to-object` or `html-react-parser` ?

[2018-08-02 23:36] remarkablemark commented on #64
`html-react-parser` depends on [`style-to-object`](https://github.com/remarkablemark/style-to-object), which depends on [`css`](https://github.com/reworkcss/css).

I recommend deleting and reinstalling `node_modules`:
[code]

[2018-08-03 08:27] alundiak commented on #64
@remarkablemark U know, it was first I did  :) Besides, I'm using Node v8, and npm v5. I will try again.

[2018-08-07 11:16] lahann opened #65 "Keep attributes while replacing"
My question has already been answered by Mark. Thanks again!
This issue is for documentation purposes.

Input: `<XRef href="ID8000">ID 8000</XRef>`
Expected Output: `<a href="ID8000">ID 8000</a>`

Solution:
[code]
https://repl.it/@remarkablemark/html-react-parser-issue-2018-08-03

[2018-08-08 00:14] #65 closed

[2018-08-16 16:51] mddanishyusuf opened #66 "Not parsing the <iframe>"
Hello there,

I'm using this library but not parsing the iframe content.

[2018-08-20 23:28] remarkablemark commented on #64
Hey @alundiak, sorry for the late reply--I didn't see the follow-up comment.

Do you mind creating a simple webpack project that reproduces this issue? This way we can ensure we're looking at the right webpack version as well as other dependencies.

You're correct in that this library builds `UMD` style. But if I were to make a guess, it might be related to the `resolve` in your webpack config.

[2018-08-21 07:27] mddanishyusuf commented on #66
Hey @remarkablemark  I resolved the issues. Thanks for replying.

And it's really good projects.

[2018-08-21 07:27] #66 closed

[2018-08-26 20:16] matthewnitschke opened #67 "Tag attributes are getting converted to lower case"
When parsing a dom element with mixed case attribute names, the resulting react module has both the component name and attribute names to lower case. I understand the component name getting set to lower case is mentioned in #62, but the attributes also getting set to lowercase seems like a bug due to this line: https://github.com/remarkablemark/html-react-parser/blob/97d6868/index.js#L5 which spec

[2018-08-27 01:11] remarkablemark commented on #67
@matthewnitschke Can you help me reproduce your case? See [Repl.it](https://repl.it/@remarkablemark/html-react-parser-issue-67)

[2018-08-27 05:44] matthewnitschke commented on #67
Ah, it appears as though my problem is only repeatable when using custom react components within the parse string. Correct me if I am wrong but I don't think this library is meant to handle that case

[2018-08-28 14:58] matthewnitschke commented on #67
Alright, thank you for your help

[2018-08-28 14:58] #67 closed

[2018-09-04 13:50] alundiak commented on #64
Hi @remarkablemark it's me again, after awhile.

So far I did use html-react-parser in VERY simple React/Babel/Webpack code example:
- https://github.com/alundiak/minimal-react-webpack-babel-setup/tree/experiment
This is fork, and I just added 2 lines in src/index.js of code to use parser. AND ALL WORKS OK.

But my work-based codebase, still has issues. I will research and compare webpack.config.j

[2018-09-05 00:09] remarkablemark commented on #64
Thanks for sending the example project along my way. My guess is either it is a dependency issue or the webpack that your using is not respecting [`html-dom-parser`'s browser field](https://github.com/remarkablemark/html-dom-parser/blob/master/package.json#L45-L47). Let me know if this helps.

[2018-09-10 15:58] intivemark opened #70 "Vulnerable Dependency [atob 2.0.3]"
(+) 1 vulnerability found

| Name        | Installed           | Patched  | Path | More info |
| ---------- |--------------- | --------- |----- | --------- |
| atob      | 2.0.3 | >=2.1.0  | html-react-parser@0.4.6 > style-to-object@0.2.1 > css@2.2.3 > source-map-resolve@0.5.1 > atob@2.0.3  | https://nodesecurity.io/advisories/646 |

[2018-09-11 08:19] anthonyvialleton opened #71 "Error management in non well formatted HTML strings"
Hello,

When trying to render a non well formatted HTML string it breaks the entire execution of JS in the page. Could you implement an error handling directly or we should use **React Error Boundaries** feature ?

`react-dom.development.js:11330 Uncaught DOMException: Failed to execute 'createElement' on 'Document': The tag name provided ('p<strong') is not a valid name.
    at createElement$1 (h

[2018-09-11 11:53] remarkablemark commented on #71
React error boundaries are good or you can wrap the parser in a try-catch:
[code]

[2018-09-13 11:54] remarkablemark commented on #70
Thanks for opening the issue @intivemark.

Luckily, [`style-to-object`](https://github.com/remarkablemark/style-to-object) is using [`css/lib/parse.js`](https://github.com/remarkablemark/style-to-object/blob/master/index.js#L1), which is not impacted by the vulnerability. tThe vulnerable module is [`lib/stringify/source-map-support.js`](https://github.com/reworkcss/css/search?q=source-map-resolve&

[2018-09-14 13:41] intivemark commented on #70
@remarkablemark That is remarkable :), thanks for solving this issue. I'm looking forward to the release so I can update my package.json and get rid of CI warnings.

Thanks for taking care 🎉

[2018-09-14 23:53] #70 closed

[2018-09-15 00:03] remarkablemark commented on #70
@intivemark No problem, glad to be of help.

You can install the latest version:
[code]

[2018-09-21 23:32] remarkablemark commented on #71
Hey @anthonyvialleton, was my comment able to help you with your issue?

If so, could this issue be closed?

[2018-09-25 02:35] #56 closed

[2018-10-01 19:05] jasan-s opened #73 "Loosing onclick functionality after parse"
see https://jsfiddle.net/kvgz36eh/.

notice that the onclick methods are lost post parsing , thus on click the hidden input field value is never updated.

[2018-10-02 01:47] remarkablemark commented on #73
Thanks for opening the issue @jasan-s

The `onclick` not being set on the React element is actually expected behavior. (A similar issue was brought up in #53.)

Because there's an XSS security risk when evaling the `onclick` string, the property is not translated in the [HTMLDOMPropertyConfig](https://github.com/facebook/react/blob/15-stable/src/renderers/dom/shared/HTMLDOMPropertyConfig.js) map.

[2018-10-02 01:51] jasan-s commented on #73
@remarkablemark  thanks for that,  I realized the intentional removal of dirty html afterward. I solved it using the following :
`const answer = document.querySelector('input[name="otpselection"]:checked').value;`
although i like your solution as well.

[2018-10-02 01:51] #73 closed

[2018-10-31 18:20] cipiripper commented on #14
This error comes up also if you only try to parse this:
```<img src="img.jpg".>```

To make it work, wrap it in a div:

[code]

[2018-11-09 04:49] DullReferenceException opened #76 "Embedded react dependency maybe causing conflicts"
I have a project using `react@16.6.1` and am running into weird render issues with `<React.Fragment/>`. I see that this has been reported as sometimes being caused by multiple react versions being installed. Sure enough, I see that `html-react-parser` is causing `react@15.6.2` to be installed elsewhere in the tree.

[code]

Can this be avoided?

[2018-11-09 04:55] #76 closed

[2018-11-27 19:04] bschlenk opened #77 "Doesn't work with web components with custom attributes"
If I pass in an html string with attributes this doesn't recognize, they are not included in the props.

[code]

This will only include `label`, but not `my-custom-prop`.

[2018-11-27 22:33] bschlenk commented on #77
Here’s the issue where they talk about supporting any attribute for custom elements: https://github.com/facebook/react/issues/2746

It looks like it’s  been supported since React 0.14.

[2018-11-28 01:08] remarkablemark commented on #77
I didn't realize React made the change in 16+, thanks for sharing the link @bschlenk

I'm open to making a backwards compatible change to allow for this

[2018-11-28 15:03] bschlenk commented on #77
To make it backwards compatible it would probably have to check what version of react is installed. I'm not sure on the exact logic, but here's what I'm thinking:

if react.version >= 16:
  if isCustomElement:
    don't alter props at all
  else:
    alter props as usual, but also pass any unrecognized props unaltered
else:
  same logic as before

I made these changes on my machine, I can send you

[2018-12-03 18:54] thismarcoantonio commented on #62
Sorry for revive this issue, but I'm using this package and I need the tags to be camel case, because C# will parse it later (I know, it's messy, not my code and I cant change it)... I've read the `htmlparser2` docs and there is `lowerCaseTags` option, it's enough to prevent tags from being lowercased?

[2018-12-05 12:49] remarkablemark commented on #62
@thismarcoantonio There's a PR (#79) that might do what you need

[2018-12-08 00:39] remarkablemark commented on #62
To give you an update @thismarcoantonio, it turns out that #79 ended up not getting merged.

Regarding your question about the tags being camelCase, are you referring to the raw HTML markup that gets passed to the parser?

[2018-12-08 17:13] thismarcoantonio commented on #62
Yes, those tags are like: `<someText: someOtherCodeHere />`. I know it is strange, but in my case, I use Parser to have those tags in React and then I use `renderToString` from `react-dom/server` to get my output code, and I end up with `<sometext: someothercodehere></sometext: someothercodehere>`. In React chrome extension, my element is something like: `createElement('sometext: someothercodehere

[2018-12-11 19:29] KARTIK01 opened #80 "Unable to use html-react-parser in create-react-library"
I was creating an npm module with the help [create-react-library](https://www.npmjs.com/package/create-react-library),
I which i was using html-react-parser.
but after importing html-react-parser, its giving error
[code]

[2018-12-12 03:44] remarkablemark commented on #80
Hi @KARTIK01, could you provide the steps so I can reproduce the issue? And please let me know what OS, node, npm/yarn version you're using.

The error seems to be coming from `entities.json`, which is used by `htmlparser2`, a dependency of this library for parsing on the server-side.

[2018-12-12 03:53] #77 closed

[2018-12-12 06:09] KARTIK01 commented on #80
Hi @remarkablemark , here is information regardig to reproduce this error.
OS: MacOS Mojave Version 10.14.1
Node Version: v10.14.1
yarn: 1.12.3 (i am using yarn for this project)
npm: 6.4.1

Steps to Produce.
1. Create New Project Via `create-react-library`
2. `yarn add html-react-parser`
3. in `src/index.js` add an import statement.

`
import Parcer from 'html-react-parser'
`
4. Stop server, then

[2018-12-12 06:38] remarkablemark commented on #80
It seems that rollup is not properly checking the `"browser"` field in `html-react-parser`'s `package.json`.

Because the library is isomorphic (runs on both server and client), the browser field is what tells bundlers like webpack to replace certain code with browser compatible code.

Importing the client-version of the library should resolve the error:
[code]

Let me know if it works for you.

[2018-12-12 07:15] KARTIK01 commented on #80
Thanks @remarkablemark,
Now its working fine, just giving an warning.
[code]
I think this is issue of rollup.

[2018-12-12 17:27] samikarak opened #81 "support custom style properties '--*' (see https://drafts.csswg.org/css-variables/ for more information)"
Hello,

Our current application requires to use custom styles, so I would like to parse custom styles beginning with '--*' without camelCasing the first character after the second dash, so that the parser is compliant to [csswg specs for custom styles](https://drafts.csswg.org/css-variables/).
(info : it is also good to know, that react does only support custom styles beginning with '--*' )

I loo

[2018-12-13 00:18] remarkablemark commented on #80
I agree @KARTIK01. Feel free to close the issue if it's resolved.

[2018-12-13 10:37] samikarak commented on #81
Since CSS variables are only supported by Firefox, I am not really interested in them. For me its about using custom style properties to select them via CSS selectors. And those are supported in reactjs. You can actually just try it out in the render function
[code]
I couldn't find anything specific related to this, but maybe also because it is a CSS issue.

[2018-12-13 17:03] #80 closed

[2018-12-14 03:34] remarkablemark commented on #81
Ah I misspoke earlier. I meant to say **custom properties** (not **CSS variables**).

It's ok if you couldn't find the specific documentation regarding React's support of it.

[2018-12-16 22:37] remarkablemark commented on #77
`html-react-parser@0.5.0` was released:

You can install the version:

[code]

Thanks for the adding this feature @bschlenk!

[2018-12-17 19:29] #81 closed, assigned to nobody

[2018-12-17 19:39] remarkablemark commented on #81
@samikarak Thanks for taking the time to create the pull request!

I've released [html-react-parser](https://www.npmjs.com/package/html-react-parser) **v0.6.0**:

[code]

[2018-12-19 17:18] uvuwolverine commented on #62
Another problem related to this: Passing in a string containing onclick or viewbox attributes, those attributes are invalid in React because React uses onClick and viewBox instead, so in converting the attributes from an html string to React components they need to be transformed to camel case or they break.

[2018-12-24 02:23] exogen opened #84 "Export `domToReact` in public API"
Right now, if I use the `replace` option to substitute certain DOM nodes with React elements, there's no good way to keep the children of that node (to pass as children to the React element) – because the React element will expect React element children, not the DOM node objects. So the current options are:

* Turn the children back into HTML somehow and run them back through the parser in my `rep

[2018-12-25 00:53] remarkablemark commented on #84
I think that's a good suggestion @exogen. Would you like to have the honors of making a pull request?

[2018-12-25 01:54] exogen commented on #84
@remarkablemark Can do! Will have a look this week.

[2019-01-02 10:41] benbesuijen opened #85 "Whitespace text nodes cannot appear as a child of <table>"
When I want to create a React table from a multi line string I will get an error from React:

`index.js:1452 Warning: validateDOMNesting(...): Whitespace text nodes cannot appear as a child of <table>. Make sure you don't have any extra whitespace between tags on each line of your source code.`

**Example code that will trigger the error**
[code]

Off course I can fix this error by writing the tab

[2019-01-04 02:42] remarkablemark commented on #85
This warning is expected when there's whitespace between table tags. (But just to clarify, this isn't an error and your elements should still render correctly.)

Currently, the best option is to strip off the whitespace if you have control over the string markup or use `dangerouslySetInnerHTML`.

Alternatively, you could try using [replace](https://github.com/remarkablemark/html-react-parser#repla

[2019-01-04 10:44] benbesuijen commented on #85
Yes you are right, it is a warning and not an error. It will be great if your package can take this over to separate parse logic from an application. But on the other hand maybe React is too strict with this warning. For now I use dangerouslySetInnerHTML to avoid warnings.

[2019-01-04 12:50] remarkablemark commented on #85
Closing the issue now the question has been answered.

[2019-01-04 12:50] #85 closed

[2019-01-07 14:56] Axion741 opened #87 "Possible Img Require() problem?"
I'm trying to narrow down why my images are breaking when parsed.

The HTML string to be parsed is this;
`<img src={require("./img/articles/2019/1/react.png")}></img>`

Which is then parsed into this;
`<img src="{require("./img/articles/2019/1/react.png")}">`
Resulting in a broken Image.

For testing I hardcoded an Image in below with this;
`<img src={require("./img/articles/2019/1/react.png")}/>`

[2019-01-08 03:54] remarkablemark commented on #87
Hi @Axion741, are you properly using [template literals (template strings)](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) here?

[code]

The regular string will stringify the require statement whereas the string template will interpolate the require value.

Also, like you shown in your last example, the `img` tag is a [void element](http://w3c.github.io/html-

[2019-01-08 15:16] Axion741 commented on #87
Well now I'm at even more of a loss.
With the fixed template strings, my HTML parses perfectly in the sandbox, but the image is still broken for me in my app.
The rest of the HTML pops out fine, but the Img tag still parses to this;
`<img src="${require('./img/articles/2019/1/react.png')}">`
Instead of interpolating the require.

[2019-01-10 16:04] ianbale opened #88 "SVG paring fails with an embedded script tag"
This is a simplified copy of my SVG. I've removed a lot of the text / use statements to keep it a reasonable length.

`<?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" id="carriageLayout0065" contentScriptType="text/ecmascript" contentStyleType="text/css" width="915" height="270" zoomAndPan="magnify" preserveAspectRatio="xMidYMid meet" version="1.0">
	<style><![CDATA[

[2019-01-10 16:07] ianbale commented on #88
Also I have noticed that contentScriptType and contentStyleType in the SVG tag are being replaced with lower case version which results in this warning in the browser:

index.js:2178 Warning: Invalid DOM property `contentscripttype`. Did you mean `contentScriptType`?
    in svg (created by Coach)
    in div (created by Paper)
    in Paper (created by WithStyles(Paper))
    in WithStyles(Paper) (at

[2019-01-10 20:45] ianbale commented on #88
Looking a little deeper I am pretty sure that (var x=0;x<ids.length;x++) is causing the problem. It looks like the parser is dying when its hits the <

Since the script tag's content is in a CDATA element, it should not have a problem with this.

I've also tried react-render-html which has the exact same problem, so my assumption is that the problem is in one of the dependencies.

[2019-01-11 01:13] remarkablemark commented on #88
@ianbale Can you help me reproduce the error you're seeing with [JSFiddle](https://jsfiddle.net/remarkablemark/7v86d800/) or [CodeSandbox](https://codesandbox.io/s/940pov1l4w)?

[2019-01-13 04:09] jslby opened #89 "How i can ignore <script>?"
Hello. I need ignore script tag in html. How i can do it?

[2019-01-13 04:18] remarkablemark commented on #89
See the [replace](https://github.com/remarkablemark/html-react-parser#replacedomnode) option.

There's an example on how to exclude an element.

[2019-01-22 10:34] ianbale commented on #88
Since the script is essential, rendering without it is not really an option, neither is changing the input SVG.

Surely the parser should handle CDATA since it's a perfectly valid within the XML?

For now I'm just using dangerouslySetInnerHTML which works perfectly. Since it's a private app with trusted SVG data that is not a problem for me.

[2019-01-23 00:43] remarkablemark commented on #88
Gotcha. Technically, the parser should handle the CDATA but it seems like it didn't in my example. I think using `dangerouslySetInnerHTML` should be fine in your use case.

If the issue is resolved on your end, do you mind closing it?

[2019-01-23 23:16] ianbale commented on #88
I could... but having decided to use dangerouslySetInnerHTML before I even reported the issue to you, the whole point of doing so was to give you the heads up so this issue,  which is bound to affect someone else at some point, could be resolved.

As I mentioned, I think it is likely that the fault does not lie in html-react-parser, but rather in one your of dependencies. It might be nice if you c

[2019-01-24 00:31] remarkablemark commented on #88
I understand and appreciate your sentiment. The bug may be coming from [`html-dom-parser`](https://github.com/remarkablemark/html-dom-parser).

It would be nice to create a simplified test case that reproduces this bug in the other package.

[2019-01-25 17:39] kirith opened #90 "Brackets "<,>" and Single Quotation Marks in attributes breaking either layout or attribute parsing"
## Expected Behavior

I have two buttons with onclick attributes as shown below.

[code]

The expected behavior is for
[code]

## Actual Behavior

For the first button my layout breaks like

[code]
As for the second button, `node.attribs.onclick` becomes empty and a new attribute `(function(e){console.log('sometext')})();return` is added to `node.attribs` as shown below.

[code]

## Steps to Repro

[2019-01-28 17:58] remarkablemark commented on #90
Yes, the attribute script not getting attached to the parsed React element is expected behavior. This is because if it was possible, eval-ing the attribute script is a huge security (XSS) concern.

The better approach is to write your own onClick callback in `replace`:
[code]

See reproduced [fiddle](https://jsfiddle.net/remarkablemark/jLzveghq/) that uses `eval` (**not recommended**).

[2019-01-31 05:08] remarkablemark commented on #87
Sorry for missing your last comment @Axion741. Were you able to resolve your issue?

[2019-01-31 05:13] remarkablemark commented on #89
Was your question answered @jslby? If so, can this issue be closed?

[2019-01-31 07:20] jslby commented on #89
Yep. Thx

[2019-01-31 07:20] #89 closed

[2019-02-05 18:35] geocine opened #91 "What is the correct way to pass props to a react component during the replace?"
## Input

[code]

## Output
[code]

## Parser
[code]

This is working fine , the `Gallery` component is being rendered , however the `photos` prop array is **not being passed down to the component** during render. What is the correct way of passing a prop?

[2019-02-05 20:13] remarkablemark commented on #91
@geocine The `photos` prop is correctly passed to the `<Gallery>` component. You can access it in `props.photos` (functional component) or `this.props.photos` (class component). See [fiddle](https://jsfiddle.net/remarkablemark/xjqe2bks/).

[2019-02-06 08:58] geocine commented on #91
I am opened an issue at https://github.com/gatsbyjs/gatsby/issues/11584 just in case

[2019-02-06 17:18] #91 closed

[2019-02-11 17:01] ianbale commented on #88
Thanks. I'll raise an issue there as soon as I have a few spare minutes.

[2019-02-19 15:14] FallenAngel97 opened #92 "Access to parent node by ref inside parser function"
Hello,
how to call inside the "replace" function refs? The following code returns nulls:

[code]
![2019-02-19 17-13-33](https://user-images.githubusercontent.com/14362650/53025529-ba1a3180-3469-11e9-9bc7-faf6a1a07af4.png)

[2019-02-20 16:37] remarkablemark commented on #92
@FallenAngel97 [Refs](https://reactjs.org/docs/refs-and-the-dom.html) are only available after the component has mounted. See [fiddle](https://jsfiddle.net/remarkablemark/0qbepo76/).

[2019-02-20 16:56] FallenAngel97 commented on #92
Thanks for you hint!
The following has worked for me:
`{this.state.hasMounted && parse(this.props.portf.content.rendered, this.parserOptions)}`
Now I can access ref inside replace function successfully :)

[2019-02-20 16:56] #92 closed

[2019-03-08 15:36] dave-stevens-net opened #94 "Does html-react-parser strip out XSS?"
I'm wanting to use html-react-parser to sanitize and parse HTML from my CMS. Does it effectively sanitize the input from XSS attacks? https://stackoverflow.com/questions/29044518/safe-alternative-to-dangerouslysetinnerhtml#answer-48261046 claims that it does. If so, I think it would be great to document / advertise this somewhere in the README. Thanks for your work on this.

[2019-03-08 16:19] remarkablemark commented on #94
Great question @dave-stevens-net!

Unfortunately it doesn't. The reason is because I chose to make this library flexible rather than strict.

Although there is the [replace](https://github.com/remarkablemark/html-react-parser#replacedomnode) option, checking against all possible attacks may be too much. I recommend instead using an XSS sanitizer with [dangerouslySetInnerHTML](https://reactjs.org/d

[2019-03-08 16:23] dave-stevens-net commented on #94
Good to know. Thanks for the quick response.

[2019-03-08 16:26] remarkablemark commented on #94
You're very welcome. If this answers your question @dave-stevens-net, can the issue be closed?

[2019-03-09 18:23] remarkablemark commented on #94
@dave-stevens-net I may have misspoke earlier about this library not being XSS safe.

I originally thought this library wasn't XSS-safe because `dangerouslySetInnerHTML` was relied [here](https://github.com/remarkablemark/html-react-parser/blob/v0.6.2/lib/dom-to-react.js#L55-L62).

However, it seems that I'm unable to reproduce any XSS vulnerabilities. See my [fiddle](https://jsfiddle.net/remarkab

[2019-03-13 11:47] nikolay-borzov opened #95 "Add TypeScript type definitions"

[2019-03-13 11:58] remarkablemark commented on #95
Great suggestion! Would you like to make a PR?

[2019-03-13 13:35] harveydf commented on #94
I managed to reproduce a simple XSS attack. There might be more.

Check my [fiddle](https://jsfiddle.net/harveydf/qmhbwoLy/1).

[2019-03-13 13:43] dave-stevens-net commented on #94
I ended up coding a Sanitize component using the [sanitize-html](https://github.com/punkave/sanitize-html) package dependency.
[code]
Example usage:
[code]

[2019-03-13 14:14] nikolay-borzov commented on #95
Yep

[2019-03-13 23:21] remarkablemark commented on #94
@harveydf Great find! Thanks for creating and sharing the fiddle.

I'll update the `README.md` to note that this library isn't XSS safe.

[2019-03-18 23:24] #95 closed

[2019-03-23 21:18] #94 closed

[2019-03-26 10:27] JMA12 opened #97 "capability to convert attached event listeners"
## Expected Behavior

Created html strings with attached event listeners. The attached listeners will be preserved after conversion
## Actual Behavior

attached listeners are not processed properly

## Steps to Reproduce

    * create an element which is a string
    * For instance, "<span onClick={e => {console.log("test...")}}>TEST</span>"

![abc](https://user-images.githubusercontent.com/436957

[2019-03-26 22:46] frontendpm opened #98 "Execute Script tag in Parser"
Hi,
is it possible to parse script tag? In my case I get the html code with script tag as a string from some endpoint, and I wish to put it into my react component and make it works.

So for example on the end I am trying to do something similar to this:
`Parser('<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="a

[2019-03-27 01:27] remarkablemark commented on #98
Although `<script>` markup is parsed by `html-react-parser`, it actually isn't rendered by `react-dom`.

I recently discovered this while troubleshooting #94.

To load a script, you will need to programmatically create and append a script element using [`replace`](https://github.com/remarkablemark/html-react-parser#replacedomnode). See [fiddle](https://jsfiddle.net/remarkablemark/3h8ejw9n/).

[2019-03-27 01:33] remarkablemark commented on #97
This is expected behavior.

`html-react-parser` will parse the event listeners from the HTML markup as a **string**. Thus, in order to call the event listener, you will need to `eval` it. If you do that, just be wary of [XSS](https://en.wikipedia.org/wiki/Cross-site_scripting).

See #73.

[2019-03-27 02:23] JMA12 commented on #97
Yes, I see.
As I read through #73, I found that using the replace method is much better.
Thanks @remarkablemark .

[2019-03-27 02:26] #97 closed

[2019-03-30 01:40] remarkablemark commented on #98
Was your question answered @frontendpm? Let me know what else you need in order to close the issue.

[2019-03-30 07:16] frontendpm commented on #98
Thank mate, it works perfectly!

[2019-03-30 07:16] #98 closed

[2019-04-05 03:33] #84 closed

[2019-04-18 08:16] hatchette opened #101 "react-dom-core@0.0.4 is causing react-dom version conflicts with React 16"
## Expected Behavior
Using html-react-parser with React 16 on a project should not produce any warning with `yarn install`

## Actual Behavior
`yarn install` produces warning
[code]

Problematic package is `react-dom-core@0.0.4` which has React@15 as dependency.  I believe this dependency should be removed altogether. And instead `react-dom` added as `peerDependency`

[2019-04-18 08:53] hatchette commented on #101
After further investigation, html-react-parser will need to be rewritten basically from scratch to actually support React 16.

[2019-04-18 08:53] #101 closed

[2019-04-26 10:49] b0gd4n opened #103 "Upgrading to 0.7.0 breaks gatsby build"
I just upgraded the package from `0.6.4` to `0.7.0` and the build failed.

I removed all traces of the package and the build succeeded. I then JUST imported the package in one file (without using it anywhere - so just `import parse from 'html-react-parser'`) and the build fails again.

Here's the the error:

[code]

[2019-04-26 11:51] remarkablemark commented on #103
Thanks for opening this issue. I'm unsure what changes in the [0.7.0](https://github.com/remarkablemark/html-react-parser/blob/master/CHANGELOG.md#070-2019-04-05) release has caused the error as the main change was moving and updating the types for TypeScript.

Can you provide a repository with the minimum setup that reproduces your error?

[2019-04-30 00:44] remarkablemark commented on #103
@b0gd4n Let me know if you're able to create a reproducible example of this error

[2019-05-08 04:23] sarahannnicholson opened #104 "Feature Request - Add ref to node"
I recently downloaded this package and have been finding it super helpful so far!

I have been using the package as such:
1. To add items to the DOM
Using the Replace function to find an element and add to its children
2. To replace items in the dom
Using the Replace function to find an element and replace it with a component

One catch I came across was the need to reference the html element insi

[2019-05-22 17:06] mark-casias opened #105 "Can not use hooks with html-react-parser."
Since this requires react-dom-core, which has a dependency of react@15.6.2, when trying to use any component with html-react-parser, there is a fatal error because of the duplicate React. I really am not sure how to solve this since there is no new release of react-dom-core.

[2019-05-22 17:13] mark-casias commented on #105
PS: Opened an issue at react-dom-core asking to update as well

[2019-05-23 02:54] remarkablemark commented on #105
So to provide some context on why this library is dependent on `react-dom-core`, React 15 used to expose all the internal lib modules but in 16 they stopped exposing them (see #43).

This library depends on several of `react-dom`'s internal modules such as `HTMLDOMPropertyConfig` and `SVGDOMPropertyConfig`, which are used when converting HTML attributes to React attributes.

So my question is were

[2019-05-23 13:22] mark-casias commented on #105
Yes, I have react@16.8.6 installed at the root. This caused the error with hooks because multiple versions of react are now referenced. This is actually the third noted reason for the error in https://reactjs.org/warnings/invalid-hook-call-warning.html

[2019-05-23 15:39] remarkablemark commented on #104
@sarahannnicholson Did the comment above help you?

[2019-05-25 02:07] remarkablemark commented on #105
Gotcha, thanks for letting me know. Would it be convenient for you to create a basic repo that reproduces the errors? It would be useful for testing an approach I'm investigating right now.

[2019-05-27 00:09] remarkablemark commented on #105
@mark-casias I just released and published `html-react-parser@0.7.1`:
[code]

Can you confirm if the error is still occurring for you?

[2019-05-28 14:34] mark-casias commented on #105
@mark-casias Thanks for the quick turn around on this. I have updated to 0.7.1 and am no longer showing multiple versions of react and hooks are not failing me.

[2019-05-28 14:34] #105 closed

[2019-05-28 21:57] Sshetty2 commented on #14
I was running into this issue because I was trying to add children to an img tag...

[2019-05-29 03:14] #8 closed

[2019-05-29 03:16] remarkablemark commented on #64
Closing issue due to inactivity. Feel free to reopen if there are new updates.

[2019-05-29 03:16] #64 closed

[2019-05-29 03:16] remarkablemark commented on #71
Closing issue due to inactivity. Feel free to reopen if there are any new updates.

[2019-05-29 03:16] #71 closed

[2019-05-29 03:17] remarkablemark commented on #87
Closing issue due to inactivity. Feel free to reopen if there are any new updates.

[2019-05-29 03:17] #87 closed

[2019-05-29 03:18] remarkablemark commented on #90
Closing issue due to inactivity. Feel free to reopen if there are any new updates.

[2019-05-29 03:18] #90 closed

[2019-05-29 03:18] remarkablemark commented on #103
Closing issue due to inactivity. Feel free to reopen if there are any new updates.

[2019-05-29 03:18] #103 closed

[2019-05-29 23:24] talbet opened #107 "drop dependency on react 15"
There have been a few discussions about problems with bundling react 15 and react 16 side by side (#101 #105). Since `react-dom-core` seems to only be used for creating look-up tables for html attributes, and since react15 hasn't seen an update in two years, would it make sense to extract these lookups into `html-react-parser` and drop the `react-dom-core` dependency?

This may require dropping su

[2019-05-30 00:34] remarkablemark commented on #107
Thanks for opening this issue @talbet

You're correct in that `html-react-parser` only relies on `react-dom-core` for the HTML and SVG property configs.

In the past, I considered keeping a map of the attributes in this package, but I ended up deciding against due to the additional scope of having to update it manually if the attribute map ever changes.

However, like you mentioned, it seems that

[2019-05-30 04:46] gamesover opened #108 "Could if failed to parse, treated as regular string?"
## Expected Behavior

I have a string to include an email between `<>`, like `'<hello@world.com>'`. Certainly, here `<>` is just normal string, not tag `<>` to trigger parse

## Actual Behavior

trigger error
[code]

## Steps to Reproduce

## Reproducible Demo

https://jsfiddle.net/fgqmhuLx/

[2019-05-30 05:06] gamesover commented on #108
btw, I try to use `try/catch` to escape the error, it does not work and show error
[code]

[2019-05-30 05:07] gamesover commented on #71
`try/catch` won't work

[2019-05-31 03:04] talbet commented on #107
Those all sound sensible. If you want I can try and get a PR together for `react-dom-core` some time next week?

[2019-06-09 02:14] remarkablemark commented on #107
Hey sorry for the late reply, yes I'm open to that. Let's discuss what I can do to help.

[2019-06-09 02:43] remarkablemark commented on #108
Yes, this is expected behavior @gamesover. This behavior is coming from [`html-dom-parser`](https://github.com/remarkablemark/html-dom-parser/blob/v0.2.2/lib/html-to-dom-client.js), which parses `<hello@world.com>` into:
[code]

See [fiddle](https://jsfiddle.net/remarkablemark/nzwLebtk/).

Then `html-react-parser` will try to create a React element based on the output:
[code]

This throws an error

[2019-06-09 12:42] gamesover commented on #108
when dom is created from string, you cannot guarantee the string is always valid.
It would be great that if this lib could catch the error, rather than leave it to user.

[2019-06-09 23:24] talbet commented on #107
I'm on vacation for the next two weeks. Was hoping to get something together before then, but got caught up on other things. Once I get back we can have a chat and work out how to proceed.

[2019-06-10 01:15] remarkablemark commented on #108
Yes, in an ideal world it would be great to validate the markup. However, I made the decision not to do so as the tradeoff is too high in terms of performance cost and complexity.

Does that make sense @gamesover? Let me know what you think.

[2019-06-10 01:16] remarkablemark commented on #107
No worries! Please do enjoy your time off @talbet. Let's sync up once you're back.

[2019-06-10 06:17] gamesover commented on #108
absolutely. Thanks for your response @remarkablemark

[2019-06-10 19:01] remarkablemark commented on #108
Let me know if there's anything else I can help you with. Otherwise, do you mind closing the issue?

[2019-06-11 00:40] gamesover commented on #108
thanks for all the helps you are offered

[2019-06-11 00:40] #108 closed

[2019-06-12 10:26] Amin52J commented on #107
This is not a feature, this is a bug breaking apps because it's loading react v15 next to the newer versions of react.

[2019-06-12 11:44] remarkablemark commented on #107
What version of `html-react-parser` are you using @Amin52J?
[code]

The bug you're experiencing should be fixed in `0.7.1`

[2019-06-12 12:27] Amin52J commented on #107
v0.4.7

The thing is when html-react-parser is added as a dependency the next.js build is complaining about Invalid use of hooks pointing to a line using html-react-parser, but when it's removed it's still showing the same error pointing to somewhere else in the code, so I might be wrong that it's html-react-parser that's in fact breaking the build.

[2019-06-12 14:02] Amin52J commented on #107
I confirm that the issue was not caused by html-react-parser.

[2019-06-12 16:55] remarkablemark commented on #107
Thanks for confirming @Amin52J. Do let me know if you uncover anything new.

[2019-06-13 20:03] AntoninSlejska opened #111 "Is it possible to replace a substring?"
I have string like this:

`"<p>I need to replace this and that substrings.</p>"`

I need to parse the string to HTML:

`<p>I need to replace <span id="0" class="this">???</span> and <span id="1" class="that">???</span> substrings.</p>`

Is it possible to do it in this library? I suppose, it is not possible and I have to replace the substrings with the standard JS method and then parse the string t

[2019-06-13 20:46] remarkablemark commented on #111
It's possible but you still need to break the string into parts and replace the matched substring.

I think it's easier to do it with JavaScript:
[code]

[2019-06-14 04:28] AntoninSlejska commented on #111
Thanks!

[2019-06-14 04:28] #111 closed

[2019-06-17 16:10] AntoninSlejska opened #112 "How to parse component tags?"
I parse strings, which look like:

`<div id="content">{parse('<TextField value="test" />')}</div>`

The material-ui component `<TextField value="test" />` should be transformed to HTML code like this:

[code]

But the component is not transformed. In the final HTML I see:

`<textfield value="test"></textfield>`

Do I have to use the replace method or is there some smart feature, which insures, tha

[2019-06-17 17:49] remarkablemark commented on #112
Yes, you will need to use `replace` @AntoninSlejska

The parser converts `TextField` to the native HTML element `textfield` (see [Repl.it](https://repl.it/@remarkablemark/html-react-parser-112))

And `React.createElement(TextField)` is different from `React.createElement('textfield')` (see [JSX docs](https://reactjs.org/docs/jsx-in-depth.html#user-defined-components-must-be-capitalized) for more i

[2019-06-18 07:31] AntoninSlejska commented on #112
Thanks @remarkablemark !

The replace method is perfect. My solution looks something like this:

[code]

[2019-06-18 07:31] #112 closed

[2019-06-18 15:27] remarkablemark commented on #112
That's great to hear @AntoninSlejska

Just curious about one thing--were you unable to do the following?
[code]

[2019-06-18 16:12] AntoninSlejska commented on #112
Thanks @remarkablemark It works perfectly. My recent code:

[code]

[2019-06-18 17:42] remarkablemark commented on #112
Excellent! As a minor optimization, you can refactor `handleChange` to an arrow function:
[code]

So you no longer need `bind(this)`:
[code]

[2019-06-19 12:21] AntoninSlejska commented on #112
Hi @remarkablemark and thanks for the advise. I have found some other issue. If there are multiple textfileds in the HTML string, then the onChange method will always change only the last of them.

I have found a solution:

[code]

The problem is, that the 'Legacy API: String Refs' (this.refs) [is deprecated](https://reactjs.org/docs/refs-and-the-dom.html#legacy-api-string-refs).

[2019-06-19 13:36] AntoninSlejska commented on #112
I have found a better solution. Only the following lines have to be changed:

[code]

[2019-06-19 16:56] remarkablemark commented on #112
Yes, there are 2 ways to create a [ref](https://reactjs.org/docs/refs-and-the-dom.html):
1. [`React.createRef`](https://reactjs.org/docs/refs-and-the-dom.html#creating-refs)
2. [Callback refs](https://reactjs.org/docs/refs-and-the-dom.html#callback-refs)

The string approach is deprecated.

[2019-06-28 04:56] talbet commented on #107
It looks like react-dom is being used for 4 things:
1. a function that can determine custom attributes like `data-` and `aria-`
2. a check to see if an attribute is a [boolean attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes#Boolean_Attributes)
3. a map for html attributes to react props
4. a map for svg attributes to react props

I propose they could be handled like this:
1

[2019-07-02 17:14] rgavinc opened #115 "Parsing does not work on server side"
Because of the changes made by [this commit](https://github.com/remarkablemark/html-react-parser/commit/1fb5ee2), parsing does not work on the server side. This is a problem for server-rendered React applications.

[2019-07-03 03:54] remarkablemark commented on #115
Yes you're right @rgavinc. I was able to reproduce the issue in [Repl.it](https://repl.it/@remarkablemark/html-react-parser-115).

I'll revert commit 1fb5ee2.

[2019-07-03 04:27] remarkablemark commented on #107
I think that covers all bases. Thanks for thinking this through @talbet!

I ended up building something really quick in the past few days and I'd love to get your review. We can my initial work as a foundation to build on top.

[2019-07-03 04:58] #115 closed

[2019-07-03 05:07] remarkablemark commented on #115
@rgavinc I released and published [`html-react-parser@0.8.1`](https://github.com/remarkablemark/html-react-parser/tree/v0.8.1):

[code]

[2019-07-09 15:02] k1sul1 commented on #94
I didn't want to use sanitize-html, [because it's massive](https://bundlephobia.com/result?p=sanitize-html@1.20.1). I used dompurify instead, it's 10 times smaller, and doesn't remove CSS.

[code]

`html('<iframe src=javascript:alert("xss")></iframe>')`

[2019-07-09 16:49] #107 closed

[2019-07-09 16:54] remarkablemark commented on #107
@talbet I released and published [`html-react-parser@0.9.0`](https://github.com/remarkablemark/html-react-parser/tree/v0.9.0):

[code]

[2019-07-14 01:05] remarkablemark commented on #94
Thanks for sharing your approach using [dompurify](https://github.com/cure53/DOMPurify) @k1sul1!

I created a [Repl.it](https://repl.it/@remarkablemark/html-react-parser-dompurify) demo based on your example.

[2019-08-26 01:23] remarkablemark commented on #104
Closing issue due to inactivity. Feel free to reopen if there are new updates.

[2019-08-26 01:23] #104 closed

[2019-08-26 01:24] remarkablemark commented on #88
Closing issue due to inactivity. Feel free to reopen if there are new updates.

[2019-08-26 01:24] #88 closed

[2019-10-01 05:13] dbvisel opened #122 "mistake in readme example?"
The longest example in README.md contains this code:

[code]

It's calling domToReact with `parserOptions` (undefined in the example) as the second option. Shouldn't that be `options`?

Thanks for a useful package!

[2019-10-01 06:06] remarkablemark commented on #122
Yes, great catch @dbvisel! Would you like the honors of opening a pull request to fix this?

[2019-10-01 06:17] dbvisel commented on #122
Happy to do it!

[2019-10-03 01:38] #122 closed

[2019-10-03 09:42] nicoleCamoro opened #124 "Prevent parse of invalid html tags"
## Expected Behavior

Parser should ignore invalid html "tags".

## Actual Behavior

I receive this error in the console :
`DOMException: Failed to execute 'createElement' on 'Document': The tag name provided ('someone@gmail.com') is not a valid name.`

## Steps to Reproduce
I'm parsing an email body and one of it's contents has this format: `<an,email@gmail.com>`

[code]

## Environment

- Versio

[2019-10-04 03:19] remarkablemark commented on #124
Thanks for opening the issue @nicoleCamoro!

The error you get when trying to render an invalid tag is **expected** (see [fiddle](https://jsfiddle.net/remarkablemark/3a87qz9d/)).

`html-react-parser` (or to be exact, this library's dependency [`html-dom-parser`](https://github.com/remarkablemark/html-dom-parser)) does _not_ handle sanitizing HTML markup. This is because:

1. It goes beyond the sco

[2019-10-04 03:46] nicoleCamoro commented on #124
Oh I'm sorry I missed that. Your answer definitely helps. Thanks!

[2019-10-04 03:46] #124 closed

[2019-10-18 06:52] tabrez96 commented on #62
Any updates regarding this issue?

[2019-10-18 09:17] tabrez96 commented on #62
I'm facing a similar issue but in my case, my string to be parsed is like
```Hello world <HighlightMe>Text to be highlighted</HighlightMe>```
where `HighlightMe` is a custom component.

Basically, I need help in parsing the string which has custom components.

[2019-10-18 15:44] linkelvin11 opened #125 "Parser throws an error if CSS parsing fails"
## Expected Behavior

The parsing error should be caught and handled.

## Actual Behavior

`html-react-parser` throws an error and JS execution stops.

## Steps to Reproduce

Attempt to parse a tag with an invalid style attribute.
The CSS parser should throw an error:
[code]
Example HTML string: `<p style="font-family: &amp;quot; franklin gothic itc&amp;quot;,helvetica,arial,sans-serif;">test</p>`

[2019-10-19 23:40] remarkablemark commented on #125
Thanks for opening this issue @linkelvin11

The error you see is expected behavior since this parser does not handle sanitization of invalid HTML or CSS (see [FAQ](https://github.com/remarkablemark/html-react-parser#does-this-library-sanitize-invalid-html)).

Take a look at #124 to see some examples of how to sanitize the markup before parsing.

I also created a [Repl.it](https://repl.it/@remarkab

[2019-10-21 15:44] linkelvin11 commented on #125
Ah ok, I had missed that section of the FAQ.

I was able to find a `sanitize-html` config that worked for my use case.

Thanks!

[2019-10-21 15:44] #125 closed

[2019-10-28 16:30] sanex3339 opened #126 "Parser completely removes body elements if html string has open <html> and <body> tags, but does not have close </body> and </html> tags"
## Expected Behavior

Parser should try to keep all existing html tags if html string has open <html> and <body> tags, but does not have close </body> and </html> tags

## Actual Behavior

Parser completely removes all body elements if html string has open <html> and <body> tags, but does not have close </body> and </html> tags

## Steps to Reproduce

Just try to parse following html string:
[code

[2019-10-29 04:59] sanex3339 commented on #126
Looks like a problem of html-dom-parser

[2019-10-29 05:04] #126 closed

[2019-11-04 04:59] JMA12 opened #127 "How to get string representation of the domnode returned by replace option?"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce

## Reproducible Demo

## Environment

- Version:
- Platform:
- Browser:

[2019-11-04 05:28] remarkablemark commented on #127
Do you mind clarifying your question? When you mention _string representation_, do you mean the HTML string or something else?

Also, does this [replace example](https://repl.it/@remarkablemark/html-react-parser-replace-example) help in any way?

[2019-11-04 05:41] remarkablemark commented on #126
[`html-react-parser@0.9.2`](https://github.com/remarkablemark/html-react-parser/releases/tag/v0.9.2) has been released and published:

[code]

Let me know if this resolves the issue for you @sanex3339.

[2019-11-06 20:14] alizeaiter opened #130 "Window and document not defined in Webworker"
When using html-react-parser in Webworkers, window and document are not defined. You mentioned that it works also on Nodejs where window and dom are also not defined. How would one work around this.Thanks

[2019-11-09 04:50] remarkablemark commented on #130
Great question @alizeaiter

The reason `html-react-parser` can be used in Node.js and in the browser is because of the dependency [`html-dom-parser`](https://github.com/remarkablemark/html-dom-parser), which is used to parse HTML string to DOM nodes.

In Node.js, `html-dom-parser` relies on [`htmlparser2`](https://github.com/fb55/htmlparser2); in the browser, `html-dom-parser` relies on the native

[2019-11-09 07:50] alizeaiter commented on #130
Thanks for your answer, I ended up using another parser that uses htmlparser2

[2019-11-09 18:34] remarkablemark commented on #130
Sounds good! Closing the issue as it seems to be resolved.

[2019-11-09 18:34] #130 closed

[2019-11-09 20:29] remarkablemark commented on #127
Closing the issue because there hasn't been a response.

[2019-11-11 02:14] JMA12 commented on #127
Uhmm sorry for the late response.

I am asking on how to get HTML string representation of the domnode returned in replace because what I get from replace return is a dom object

[2019-11-16 01:45] remarkablemark commented on #127
Hey @JMA12, unfortunately once the string is parsed, there isn't an easy way to stringify the DOM node unless you create a DOM node to string function. Let me know if this answers your question.

[2019-11-18 02:32] JMA12 commented on #127
Uhmm, in what structure is the replace method throwing?? Is it a dom object??

Just want to know for me to search for an appropriate converter.

Thanks.

[2019-11-19 00:46] remarkablemark commented on #127
The structure is documented in the [README](https://github.com/remarkablemark/html-react-parser#replacedomnode) (see [Repl.it](https://repl.it/@remarkablemark/html-react-parser-127)).

[2019-11-20 08:51] sowhatdoido opened #132 "Custom Self Closing Tags treat following text as children data"
**Expected Behavior:**
Self closing tags are treated as a tag with no data in it:
`<Example /> should equal <Example></Example>
`

**Actual Behavior:**
Library doesn't detect custom self closing tags, and is treating them like tags that have never been closed:
`<Example /> is treated like <Example>
`

**Steps to reproduce:**
- Run parser with a replace option using this text: `This text has a self

[2019-12-04 03:10] remarkablemark commented on #132
Thanks for opening the issue @sowhatdoido

I'm a bit confused, shouldn't a self-closing tag have no or empty children? In other words, shouldn't this be expected behavior?

I've tried to reproduce this in the following repls:
- [html-react-parser server](https://repl.it/@remarkablemark/html-react-parser-132-1)
- [html-dom-parser server](https://repl.it/@remarkablemark/html-react-parser-132-2)
- [h

[2019-12-04 03:11] remarkablemark commented on #127
Closing issue since I believe I have answered your question. Feel free to reopen if there are further questions.

[2019-12-04 03:11] #127 closed

[2019-12-05 04:33] sowhatdoido commented on #132
Thanks for your time @remarkablemark! This is happening to me on a browser, not nodejs.

A self closing tag describes a tag that has no children, but has the unique ability to close without having a separate tag to define the end. Common examples of this in standard html format are:
[code]
to name a few.

In my case, when I try to parse a self closing tag and replace it with a React component, I e

[2019-12-05 04:42] sowhatdoido commented on #132
You can actually see the problem if you modify your first repl:

https://repl.it/repls/AstonishingWhisperedTrapezoids

In theory, both those lines should be the same console logs, but if you add text before and after the tags, you'll notice the tag in the first console.log has a child object and the second one doesn't:

Correct:
![](https://i.gyazo.com/da23a5a4812e02c21b2accc54fbbcd20.png)
Incorre

[2019-12-05 05:19] sowhatdoido commented on #132
@remarkablemark,

It looks like you were right in that the problem is with html-dom-parser: It appears that you are [creating the node list from a string](https://github.com/remarkablemark/html-dom-parser/blob/eceb8f5addbc5c682329735533bf74227c72dd58/lib/domparser.js#L117) by using `template`, which doesn't seem to support self closing tags (I assume because that's not considered valid markup in s

[2019-12-06 20:25] remarkablemark commented on #132
Thanks for looking into this @sowhatdoido

So now that we've identified where this is coming from, I don't think that parsing JSX in HTML is a feature that `html-dom-parser` supports.

Like you mentioned, `<Example />` isn't valid HTML markup so perhaps what you're looking for is more of a JSX string to React elements parser rather than an HTML string to React elements parser? The former is techni

[2019-12-06 22:17] sowhatdoido commented on #132
Yeah I think that's fair, and thus why I was asking if whether or not you think you wanted to support this within the context of your library.

I found a work around for this specific use case, though it definitely feels suboptimal. Essentially, I'd perform a regex match on the string I'm trying to parse and format it to a closed component if it doesn't match a void element... perhaps something li

[2019-12-06 22:23] remarkablemark commented on #132
Yes, I don't believe this library will be supporting custom JSX elements here. I'll be closing the issue, feel free to reopen or open a new issue if you encounter a new problem @sowhatdoido

[2019-12-06 22:23] #132 closed

[2019-12-16 13:20] rinkusam12 commented on #98
How should I do this in NextJS

[2019-12-18 21:02] steeevio opened #133 "Possible to render react component based on data attribute?"
Hi,

I'm trying to parse html that contains several divs with a class of sjevComponent. These have different data attributes such as data-type="Logo" which I would like to use to call a `<Logo/>` react component. Is this possible? I'm currently rendering a `<logo>` element rather than generating a react component.

`	render(){

		let html = this.props.pageContent;
		let options =   {
			replace: d

[2019-12-19 14:53] steeevio commented on #133
Ah never mind, I just needed to conditionally return a react component.

[2019-12-20 14:10] remarkablemark commented on #133
@steeevio It seems like you've answered your own question. If you don't have any other issue, would you kindly close the issue? Thanks!

[2019-12-20 14:17] #133 closed

[2019-12-25 19:00] KiranMohan opened #134 "Typescript import errors"
Is the typescript definition correct? Only the below import syntax worked for me.
`import * as HTMLReactParser from 'html-react-parser';`
But this gives a build error
`Cannot invoke an expression whose type lacks a call signature. Type 'typeof import("app/node_modules/html-react-parser/index")' has no compatible call signatures`

## Expected Behavior
Compilation goes fine without error.
No errors

[2020-01-18 10:59] frank-dspeed commented on #62
i Am working on that issue i am coding at present a clean fork of htmlparser2 and parse5 joing both algorythms you will then be able to use parse5's react dom adapter that will be based on this code base

[2020-02-05 17:16] chpio commented on #134
`replace` is also mandatory, you can't pass in an `undefined`: `{replace: undefined}`

[2020-02-06 02:10] ekkis opened #135 "Breaks Expo"
I have an expo app into which I installed this module.  mere installation seems to break the app.  I get the errors below (and many others).  what can I do?

[2020-02-06 04:52] ekkis opened #136 "Reference error: can't find variable: document"
unable to get this module to work with Expo (see: https://github.com/remarkablemark/html-react-parser/issues/135), I abandoned it.  at present I'm fetching the contents of this page: https://8-deploying-i9x8y3h2m.now.sh and handing it to the module but it's producing the aforementioned error.  below's the HTML it's trying to parse.  can I not do this? what do I need to fix?

[code]

[2020-02-06 04:52] remarkablemark commented on #134
@KiranMohan sorry for the late response but as @chpio mentioned, you should be able to import the default export:

[code]

You can see this is the recommended approach in the [README](https://github.com/remarkablemark/html-react-parser#usage) or interact with the [CodeSandbox](https://codesandbox.io/s/html-react-parser-typescript-0g0ct) demo.

---

@chpio The 2nd argument should be [optional](http

[2020-02-06 04:56] remarkablemark commented on #135
@ekkis Are you sure this issue is related to the parser?

This library does not load a font-family so the following error seems strange:

[code]

[2020-02-06 05:02] remarkablemark commented on #136
Hi @ekkis, I'm confused at what you're trying to accomplish.

If you're asking if the library can parse a string of HTML in Node.js, then yes it can.

See [Repl.it](https://repl.it/@remarkablemark/html-react-parser-136) demo.

[2020-02-06 05:58] ekkis commented on #136
thanks for the quick reply.  I want to retrieve some HTML from a source and display it in my app.  it is my understanding that this library will allow me to do that.  if I'm wrong, I'm using the wrong library.  I found a clue about this here: https://stackoverflow.com/questions/27934238/rendering-raw-html-with-reactjs/27958683

[2020-02-06 06:00] ekkis commented on #136
in essence, I'm trying to duplicate what browsers do.  they fetch HTML from somewhere and render it

[2020-02-06 09:53] chpio commented on #134
yeah it is, but you can not pass in `replace` conditionally, just the whole options object.

[2020-02-06 18:40] remarkablemark commented on #136
Are you doing this client-side (in the browser) or server-side (e.g., Node.js)?

If you're doing this client-side, you can use:

- [<iframe>](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe)
- [dangerouslySetInnerHTML](https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml) (make sure to read up on why it's dangerous)

If you're doing this server-side, you don't need t

[2020-02-06 19:44] ekkis commented on #136
I looked at dangerouslySetInnerHTML.  the article I pointed to recommended against it and in favour of your library.  I'm doing this client-side

in fact, I found the solution: <WebView/>  -- thanks for your quick assistance.  it makes your product valuable

[2020-02-06 19:44] #136 closed

[2020-02-06 20:13] remarkablemark commented on #135
Can this issue be closed as well?

[2020-02-06 20:29] remarkablemark commented on #134
@chpio I see, would it be better if I made `replace` optional in the object?

[2020-02-07 11:03] bragovo commented on #59
I have problem with SSR too.
https://github.com/luckypike/lunn/blob/master/app/javascript/components/Footer/Footer.js - this is problem component. There is an error with `parse('<h1>Hello, world!</h1>')` too.

I can't find where is error exactly, that's my log:
[code]

[2020-02-07 11:56] bragovo commented on #59
`console.log(domToReact(htmlToDOM('<h1>HI!</h1>', {})))` - work fine.
But this one not working:
[code]
`Error during failsafe response: Encountered error "#<ExecJS::ProgramError: TypeError: Cannot read property 'domToReact' of undefined>" when prerendering Footer/Footer with {"locale":"ru"}`

[2020-02-07 12:02] bragovo commented on #59
[code]

[2020-02-07 12:10] bragovo commented on #59
Actually, simple `import parse from 'html-react-parser'` not working `Encountered error "#<ExecJS::ProgramError: Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.>" when prerender

[2020-02-07 12:14] bragovo commented on #59
And as @Remownz says simple replace to `ReactHtmlParser` (from react-html-parser) instead `parse` working fine with SSR

[2020-02-07 13:11] bragovo commented on #59
Seems problem in package `import htmlToDOM from 'html-dom-parser'`

[2020-02-07 13:29] bragovo commented on #59
So, this is working:
[code]

[2020-02-07 20:30] remarkablemark commented on #59
@bragovo Are you trying to build this library on Ruby/Rails?

I'm able to do SSR (server-side rendering) on Node.js without any issues. See [Repl.it](https://repl.it/@remarkablemark/html-react-parser-SSR).

[2020-02-07 20:56] ekkis commented on #135
well... it would be nice if the module worked with Expo apps.  and no, it's not related to the parser.  as I previously mentioned, merely installing it breaks the app

[2020-02-07 21:57] remarkablemark commented on #135
I see. It might be easier to debug this if you can provide a reproducible example.

[2020-02-07 21:57] ekkis commented on #135
of course.  I'll work on something for you

[2020-02-08 22:41] remarkablemark commented on #134
@chpio I made `replace` optional in the object.

See [`html-react-parser@0.10.1`](https://github.com/remarkablemark/html-react-parser/tree/v0.10.1):

[code]

[2020-02-11 02:41] remarkablemark commented on #134
I will be closing this issue.

If there are additional questions, feel free to reopen or create a new issue @KiranMohan @chpio

[2020-02-11 02:41] #134 closed

[2020-02-12 23:58] scottschafer opened #138 "How do I import this into Typescript?"
I can import this into my Typescript file like this:
[code]

But then parse is undefined.

This is the insane way I got this to work:
[code]

So then `parse('<h1>Hello world</h1>')` works as expected. What's the less insane way?

[2020-02-13 00:18] remarkablemark commented on #138
This seems similar to #134

What's your `tsconfig.json` like? Here's a [CodeSandbox](https://codesandbox.io/s/html-react-parser-typescript-0g0ct) of the parser working in TypeScript

[2020-02-13 15:07] scottschafer commented on #138
Here's my tsconfig.json:
[code]
When I try `import parse from 'html-react-parser';` I get this at runtime:
`TypeError: html_react_parser_1.default is not a function`

Not sure what's going on. I'll stick with my solution for now.

[2020-02-13 17:17] remarkablemark commented on #138
In `"compilerOptions"`, can you try adding:
[code]
and/or:
[code]

[2020-02-13 19:18] scottschafer commented on #138
Unfortunately, neither option works for me. If I make both changes, other imports fail. I would love to find the right solution, but my solution works for now. Thanks for the library and the response!

[2020-02-13 20:46] remarkablemark commented on #138
Sounds good, thanks for trying! I'll be closing the issue.

[2020-02-13 20:46] #138 closed

[2020-02-16 19:17] renszzzzzzz opened #139 "inline style parser not working."
Hey all,

It seems that not all tags with inline styling (string) are correctly converted. The correct result is provided, when the style is put on the image tag instead of the figure tag. However for this project it needs to stay on the figure tag.

This is how I implemented the library:

[code]

## Expected Behavior

[code]

## Actual Behavior

`<figure class="image image_resized" style="width:

[2020-02-16 19:31] remarkablemark commented on #139
@renszzzzzzz Can you provide a reproducible example using [Repl.it](https://repl.it/@remarkablemark/html-react-parser)?

[2020-02-16 20:40] renszzzzzzz commented on #139
@remarkablemark, thank you for your quick response. Created the example and it seems to output correctly in the console, but not in the dom.

However the changes are not reflected as you can see in this fiddle: https://jsfiddle.net/renszzzzzzz/7f8zo3ux

log shows the changes:
![image](https://user-images.githubusercontent.com/2360975/74612331-539a1480-50b9-11ea-944d-dc08efb87c20.png)

DOM doesn't

[2020-02-17 00:32] remarkablemark commented on #139
I'm a little bit confused. Isn't this what you want?

You would only find `style={{ width: '54.26%' }}` in JSX. But in the DOM, `style="width: 54.26%` is expected and valid here. Am I missing something?

[2020-02-18 06:58] renszzzzzzz commented on #139
Hey @remarkablemark. You're correct, I found the problem which wasn't related to your code. Thanks for the quick response

[2020-02-18 06:58] #139 closed

[2020-02-28 08:26] wangfulong opened #140 "A component is `contentEditable` and contains `children` managed by React warning"
[code]

[2020-02-28 18:08] remarkablemark commented on #140
Thanks for opening this issue @wangfulong

Do you mind creating a reproducible example? (You can pick one of the code playgrounds [here](https://github.com/remarkablemark/html-react-parser#example).)

[2020-03-01 04:38] wangfulong commented on #140
I get this html string from quill, after insert mention

const htmlstring =`<p><span class="mention" data-index="0" data-denotation-char="@" data-id="all" data-value="所有人">﻿<span contenteditable="false"><span class="ql-mention-denotation-char">@</span>所有人</span>﻿</span> <span class="mention" data-index="1" data-denotation-char="@" data-id="qDJs5nJeXhvTNQroq" data-value="测试101">﻿<span contenteditab

[2020-03-03 13:44] shiglet opened #141 "Ignore attribute when attribute content is invalid"
html-react-parser is a great tool ! But unfortunately, i'm having an exception when i'm trying to parse html string that content invalid attribute, so my app is crashing : undefined:1:2: property missing ':'. I can of course try that exception to avoid the app to crash but it won't really solve my issue.

I'm aware that's not to html-react-parser fault, but i would like to know if it's possible wi

[2020-03-04 01:02] remarkablemark commented on #140
Thanks for providing an HTML string that reproduces this warning. I was able to reproduce it in this [fiddle](https://jsfiddle.net/remarkablemark/53oLfmap/).

It turns out this is expected behavior. React will throw a **_warning_** (not _error_) when an element has an `contentEditable` attribute. See [fiddle](https://jsfiddle.net/remarkablemark/gt8y2ksa/).

Your current solution of deleting the at

[2020-03-04 01:03] remarkablemark commented on #140
Let me know if you have any others questions. If not, feel free to close the issue.

[2020-03-04 01:05] remarkablemark commented on #141
This sounds like invalid CSS in your HTML. See '[The parser throws an error](https://github.com/remarkablemark/html-react-parser#the-parser-throws-an-error)'.

[2020-03-04 01:06] remarkablemark commented on #141
This is related to #125

[2020-03-04 02:54] #140 closed

[2020-03-04 06:26] shiglet commented on #141
Hello,

Thank you for your answer. I had already seen this issues. Unfortunately, i can't use sanitize-html, the reason is that i need to keep valid styling, and remove them only when it's invalid.

Is there any way to remove that with sanitize-html or another library ? I don't really know how can i actually know in javascript if the given style is actually valid or not. I know it's not related to

[2020-03-04 06:28] shiglet commented on #125
Hello @linkelvin11,

Can you share that sanitize-html config ? Does it keep styling when it's valid or ?

Thank you :)

[2020-03-04 22:42] linkelvin11 commented on #125
I used the allow all config specified in the sanitize-html docs.

https://www.npmjs.com/package/sanitize-html#what-if-i-want-to-allow-all-tags-or-all-attributes

[2020-03-10 02:40] remarkablemark commented on #141
Since the library uses [style-to-object](https://github.com/remarkablemark/style-to-object) under the hood (to parse inline style attribute into an object), you can wrap the style parsing in a try-catch:

[code]

See [Repl.it](https://repl.it/@remarkablemark/html-react-parser-141) example.

[2020-03-10 06:25] #141 closed

[2020-03-10 20:43] nwalters512 opened #142 "Readme incorrectly states that script tags are processed"
The readme claims that this library parses `<script>` tags:

However, it looks like #109 removed that functionality. This is unfortunate, as there's still value in processing `<script>` tags in server-side environments like Next.js's `_document.js` component.

Either the Readme should be updated to reflect this, or (ideally) support for `<script>` tags should be added again to support more advance

[2020-03-10 20:47] remarkablemark commented on #142
It was added back in #116, please update to the latest version or `0.8.1`

[2020-03-10 20:48] nwalters512 commented on #142
Apologies, that PR didn't come up in my searches! Thanks for the quick response.

[2020-03-10 20:48] #142 closed

[2020-03-12 17:56] heldergoncalves92 opened #143 "Index.d.ts does not match with Index.js"
Is this a bug report?

## Expected Behavior
Default import in es modules should have a function defined.

## Actual Behavior
Default import is `undefined`.

[2020-03-13 22:20] #143 closed

[2020-03-13 22:26] remarkablemark commented on #143
Published [0.10.2](https://github.com/remarkablemark/html-react-parser/tree/v0.10.2):

[code]

[2020-03-13 22:31] remarkablemark commented on #135
Closing issue due to inactivity. Feel free to reopen if you have something to add.

[2020-03-13 22:31] #135 closed

[2020-03-21 16:59] BananaWanted commented on #141
Thank you @remarkablemark . I also struggle with this issue for quite a long time. Very appreciate for the solution!

[2020-03-21 17:39] remarkablemark commented on #141
You're very welcome @BananaWanted

[2020-03-26 00:28] yunyu opened #145 "dom-to-react.d.ts should reference JSX.Element instead of React.ReactElement"
Although this library can be used with Preact/Inferno/etc, the typings make it hard to do so as they rely explicitly on React types. Instead, JSX.Element should be used as it's more compatible across libraries.

I'd PR this, but I'm uncertain as to how dependent the library is on React internals.

[2020-03-28 02:50] #145 closed

[2020-03-28 04:12] remarkablemark commented on #145
Published [0.10.3](https://github.com/remarkablemark/html-react-parser/tree/v0.10.3):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2020-04-02 02:23] ricaragao opened #147 "Wrong conversion with &nbsp;"
When I try parse some string with `&nbsp;` it show a wrong character: `

- Version: 0.9.1
- Platform: all
- Browser: all

[2020-04-02 02:26] remarkablemark commented on #147
Can you provide a reproducible example using [Repl.it](https://repl.it/@remarkablemark/html-react-parser) or [JSFiddle](https://jsfiddle.net/remarkablemark/7v86d800/)?

[2020-04-08 19:39] psaikali opened #148 "Only replace specific children with custom <Component />"
Hi,

First, thanks for creating this library!
I think this is what I need but I'm struggling to get the result I need.

![Capture 2020-04-08 à 21 35 05](https://user-images.githubusercontent.com/1606655/78825856-e895fb80-79e0-11ea-8f79-27ae420dc37f.jpg)

I have a `<Chapter />` component with some HTML content coming from a JSON object generated by my server.
In this piece of HTML content, I have

[2020-04-08 23:30] psaikali commented on #148
That was actually deceptively easy :)

[code]

[2020-04-08 23:30] #148 closed

[2020-04-12 10:44] zambo opened #149 "QUESTION: Any way to make this component work?"
Hi,

Not sure if it's a bug, so I'll fill it as a question.

I'm replacing most of my static content with components without any issue, but when I try to replace a `div` with the [react-id-swiper](https://www.npmjs.com/package/react-id-swiper) component, all the inner content vanishes.

So, my question... Is it a bug or is there's a specific way to pass the children prop for this kind of component

[2020-04-12 18:34] remarkablemark commented on #149
What you have looks correct. Can you log what `children` is here?

[2020-04-13 03:12] zambo commented on #149
Here it is.
![image](https://user-images.githubusercontent.com/497886/79088805-2913b300-7d1a-11ea-8595-ab7ab944ef56.png)

I don't think the problem is within the children. If a replace the `Swiper` component with anything else like simple `div` or a different component, it works like a charm.

I'm using the html-react-parser to replace a bunch of Wordpress/Guttenberg blocks by custom components wi

[2020-04-14 00:11] remarkablemark commented on #149
Gotcha then it's most likely due to the `<Swiper>` components or the `params` passed to it.

If this is no longer an issue, can we close this issue?

[2020-04-14 02:29] zambo commented on #149
Sure!

Thank you anyway. I was just wondering if there was any catch passing a children prop to a component.

Thanks again.

[2020-04-15 01:43] remarkablemark commented on #149
No problem, feel free to reopen or create a new issue if you have another question.

[2020-04-15 01:43] #149 closed

[2020-04-17 13:03] nathggns opened #150 "DomElement doesn't seem to exist in domhandler"
In the typescript definitions this package provides, it refers to `DomElement` from the package `domhandler` as the type for the node passed to the `replace` override– only there seems to be no exported member from `domhandler` called `DomElement`

[code]

## Expected Behavior

## Actual Behavior

## Steps to Reproduce

## Reproducible Demo

## Environment

- Version:
- Platform:
- Browser:

[2020-04-17 13:21] nathggns commented on #150
Ignore this. Seems to be caused by version conflicts. Apologies.

[2020-04-17 13:21] #150 closed

[2020-04-19 07:41] mdeljavan opened #151 "wrong parse path tag"
I have this string.
[code]
after parse this string. html-react-parser return one element by two children while the string must be parsed to a array by 3 element.

[2020-04-19 17:32] remarkablemark commented on #151
Can you provide a reproducible example using [JSFiddle](https://jsfiddle.net/remarkablemark/7v86d800/) or [Repl.it](https://repl.it/@remarkablemark/html-react-parser)?

[2020-04-19 18:02] remarkablemark commented on #147
Closing issue as I'm unable to reproduce this:

- [Node.js](https://repl.it/@remarkablemark/html-react-parser-147-1)
- [Web](https://repl.it/@remarkablemark/html-react-parser-147-2)

[2020-04-19 18:02] #147 closed

[2020-04-19 18:11] ricaragao commented on #147
@remarkablemark , sorry for late feedback. The problem was with font file and not with html-react-parser.

[2020-04-29 05:37] fredrik-sogaard opened #152 "Parsing html output from xss filter dosen't work"
## Expected Behavior
I use https://github.com/leizongmin/js-xss to do some sanitation of the my html before parsing it and making React elements. I except the sanitized html to be parsed correctly into elements.

## Actual Behavior
The html I want to sanitize and parse is this:
[code]
Run through the xxs filter I get this:
[code]
Run through the html parser I only get at string back looking exactl

[2020-04-29 23:46] yougotashovel commented on #132
@sowhatdoido  Would you mind sharing how you implemented your workaround?

I'm currently having the same issue parsing custom html elements with no closing tags

[2020-04-30 01:53] remarkablemark commented on #152
Yes, that behavior is expected because `xss` will escape all your angle brackets. E.g., `<` to `&lt;`.

Then when you input the string to `html-react-parser`, it will decode your string with HTML entities via `html-dom-parser` and spit out the string. It is considered escaped here since it is a string, not a JSX element.

See [Repl.it](https://repl.it/@remarkablemark/html-react-parser-152) demo.

[2020-05-05 09:18] mrrau commented on #151
Try to use separate closing tags instead of selfclosed e.g.
`<path d="..."></path>`

[2020-05-05 16:59] ggmartins opened #153 "traverse option"
I'm new to react. I just want to traverse through nodes to extract some values from a HTML page (and do not replace). Would it make sense to have this option available (maybe a PR), or maybe using something else on top of html-react-parser like react-traverse. Sorry if this looks like a SO question. Thanks.

[2020-05-05 17:56] remarkablemark commented on #153
You may not need this `html-react-parser` if you're traversing a string of HTML. Can [html-dom-parser](https://github.com/remarkablemark/html-dom-parser/) do the job for you?

[2020-05-05 19:41] mdeljavan commented on #151
this is an exmple of my issue;
[https://jsfiddle.net/nsuewxp5/](url)

[2020-05-06 18:24] ggmartins commented on #153
it sounds like I need to traverse the json resulting from html-dom-parser somehow, maybe using .filter()? anyways, I decided to use react-traverse instead,  it was really straight forward but I'm still using react-parse regardless. Maybe In the future, I might 2 libs for a single one to get all the job done. Thanks, G.

[2020-05-06 18:24] #153 closed

[2020-05-09 21:12] remarkablemark commented on #151
Yes @mrrau is correct here. Adding closing tag `</path>` instead of self-closing fixes your issue: https://jsfiddle.net/remarkablemark/f8r53y6d/

I'll have to investigate why self-closing `<path />` is not working

[2020-05-11 14:20] #151 closed

[2020-05-12 13:17] KashafS98 opened #154 "Can i parse script and style tags using this package?"
So i have a requirement, where in i want users to create small snippets of code using basic HTM/CSS/JS and i want to add those into my react app.
Will this package help me with such a need?

[2020-05-14 00:09] remarkablemark commented on #154
So style tags are parsed and rendered but script tags are not rendered on the DOM. See [FAQ](https://github.com/remarkablemark/html-react-parser#faq) for more details.

[2020-05-23 03:08] rgvillanueva28 commented on #154
The fiddle example for parsing script seems to be not working. I am also trying to find out if this package can parse script.

[2020-05-23 15:53] remarkablemark commented on #154
Can you link me to the broken fiddle so I can fix it?

[2020-05-25 13:50] brainstorm1313 opened #155 "Whitespace text nodes cannot appear as a child of <table>"
I expect correct parse:
`parse('<table>\n<tbody><tr><td>sdfq</td></tr></tbody></table>')`

It works, but Chrome console has error:
Warning: validateDOMNesting(...): Whitespace text nodes cannot appear as a child of <table>. Make sure you don't have any extra whitespace between tags on each line of your source code.

https://jsfiddle.net/2f7tpmx5/1/

[2020-05-25 18:22] remarkablemark commented on #155
This is similar to https://github.com/aknuds1/html-to-react/issues/79

Long story short, this parser (like [html-to-react](https://github.com/aknuds1/html-to-react)) creates whitespace text nodes given the input HTML.

The HTML to DOM parser that we use is [html-dom-parser](https://github.com/remarkablemark/html-dom-parser).

Fortunately, this is a warning and not an error. However, it might be wo

[2020-05-30 06:20] rburgst opened #158 "ability to use htmlparser2 xmlMode"
## Expected Behavior

valid xhtml should be properly parsed. For that to work with `htmlparser2` you need to pass
[code]

## Actual Behavior

nesting is all wrong

## Steps to Reproduce

try to parse a more complicated xhtml snippet that contains scripts, noscript, comments and html5 audio tags

## Reproducible Demo

https://repl.it/@rburgst/html-react-parser

## Environment

- Version: 0.10.5
- P

[2020-06-01 22:59] remarkablemark commented on #158
The reason the nesting is wrong is because the self-closing syntax (`/>`) is used on non-void HTML elements:

[code]

I recommend validating your [HTML markup](https://validator.w3.org/) and updating your JSFiddle. I would also recommend testing your input by rendering the markup server-side. See [example](https://repl.it/@remarkablemark/html-react-parser-158).

Question: are you using `html-react

[2020-06-03 05:23] rburgst commented on #158
I am using it server side (gatsby) for rewriting the html received from wordpress. This markup is generated by wordpress if you create an audio playlist. Note that I ran this code through html sanitizers (see https://github.com/remarkablemark/html-react-parser/issues/124)  and they did not change those tags.

[2020-06-03 06:04] rburgst commented on #158
I reviewed your repl.it and updated mine, but the nesting is still wrong. I understand that your point is that this is invalid HTML and I should change it but I wont be able to change what wordpress is giving me. I have validated that when using `htmlparser2` with `xmlMode: true` a correct looking DOM is produced. So I would very much appreciate some way to pass these options to the parser.

[2020-06-03 23:51] remarkablemark commented on #158
Please review #161

[2020-06-04 04:58] rburgst commented on #158
looks great!

[2020-06-04 22:43] #158 closed

[2020-06-04 22:48] remarkablemark commented on #158
Published [0.12.0](https://github.com/remarkablemark/html-react-parser/tree/v0.12.0):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2020-06-06 00:06] remarkablemark commented on #155
Please review #162

[2020-06-06 00:24] remarkablemark commented on #62
In `html-react-parser` [v0.12.0](https://github.com/remarkablemark/html-react-parser/tree/v0.12.0), you can pass [`htmlparser2` options](https://github.com/fb55/htmlparser2/wiki/Parser-options#option-xmlmode) when parsing on the server-side (Node.js):

[code]

See [README.md](https://github.com/remarkablemark/html-react-parser#htmlparser2), [Repl.it demo](https://repl.it/@remarkablemark/html-react

[2020-06-06 00:26] remarkablemark commented on #152
Closing issue due to inactivity. Feel free to reopen if you have something to add.

[2020-06-06 00:26] #152 closed

[2020-06-06 14:41] KashafS98 commented on #154
Thank you for the help. I eventually took another route out of the problem.

[2020-06-06 14:41] #154 closed

[2020-06-07 20:31] #155 closed

[2020-06-07 20:44] remarkablemark commented on #62
I also updated the README [FAQ](https://github.com/remarkablemark/html-react-parser#dont-change-case-of-tags)

[2020-06-07 20:44] #62 closed

[2020-06-07 22:07] remarkablemark commented on #155
Published [0.13.0](https://github.com/remarkablemark/html-react-parser/releases/tag/v0.13.0):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2020-06-19 23:52] tyteen4a03 opened #165 "Warning: React does not recognize the `allowTransparency` prop on a DOM element."
## Expected Behavior

With the codesandbox setup, it should pass through `allowTransparency` through for the `<a>` element.

## Actual Behavior

React shows an error message instead.

## Steps to Reproduce

See demo

## Reproducible Demo

https://codesandbox.io/s/html-react-parser-w4eg2

## Environment

- Version: 0.13.0
- Platform: macOS 10.15.5
- Browser: FF 77

[2020-06-20 00:26] remarkablemark commented on #165
I believe `allowTransparency` can only be used for the `<iframe>` element.

Are you unable to use `style="background-color: transparent;"`? See [CodeSandbox](https://codesandbox.io/s/html-react-parser-lciui?file=/src/index.js).

Also, the `htmlparser2` option is only works on Node.js (server-side) and does not work on the browser (client-side). I'll need to update the `README.md` if it wasn't clea

[2020-06-20 00:30] tyteen4a03 commented on #165
I quickly modified the codesandbox to show the issue; my original code is attached to an `<iframe>`.

[2020-06-20 00:41] remarkablemark commented on #165
I see. I'll take a look at this but given that this is a warning, I'll assume nothing's broken. Is that correct?

[2020-06-20 00:43] tyteen4a03 commented on #165
I don't think so.

[2020-06-20 00:55] remarkablemark commented on #165
So I did some research and it seems like `allowtransparency` on the iframe is obsolete. See mdo/github-buttons#60

[2020-06-20 00:57] tyteen4a03 commented on #165
It might be obsolete but the <iframe> generation codes for Facebook definitely still uses it.

[2020-06-20 01:40] remarkablemark commented on #165
Makes sense. Feel free to open a PR if you think you can fix it.

[2020-06-27 14:54] hsi-odoo opened #166 "problem with rendering custom element"

[2020-06-27 14:58] #166 closed

[2020-06-27 14:58] hsi-odoo commented on #166
wrong

[2020-07-26 16:53] jerome-diver opened #168 "lowerCaseAttributeNames: false, doesn't do his job. attributes are still lower case chars only."
## Expected Behavior

textarea attribute name: "defaultValue" should stay upper case, but instead, become lower case chars: "defaultvalue".
i do use htmlparser2 option key to define related options to get this to work, but it still failed.

## Actual Behavior

defaultValue become defaultvalue (lower case char "v") even with htmlparser2 options setup (see below).

## Steps to Reproduce

use a html

[2020-07-26 17:39] remarkablemark commented on #168
Thanks for opening this issue @jerome-diver. Can you help me reproduce this issue on [Repl.it](https://repl.it/@remarkablemark/html-react-parser), [JSFiddle](https://jsfiddle.net/remarkablemark/7v86d800/), or [CodeSandbox](https://codesandbox.io/s/940pov1l4w)?

[2020-07-27 06:53] jerome-diver commented on #168
No i can not. But you have all the elements requested to reproduce the problem. Just parse a html string contained upper case attributes name and you will see.

[2020-07-28 15:07] tyagow opened #169 "Problem testing a React component that uses parse"
##  Expected Behavior

I should be able to test React components that use parse

## Actual Behavior

[code]

## Steps to Reproduce

Have a React component that users parse

[code]

[2020-07-29 01:35] remarkablemark commented on #169
Thanks for opening this issue @tyagow. Can you provide a reproducible example? Are you running tests in Node.js environment or browser environment?

[2020-08-04 15:55] taw1313 opened #170 "html tag is being removed in certain conditions"
## Expected Behavior

render \<a> tag with a \<strong> child element

## Actual Behavior

"replace" is removing \<a> tag if it contains children with no whitespace between closing tags... I have created a simple example in Sandbox see below.

## Steps to Reproduce

[code]

## Reproducible Demo
* CodeSandbox: https://codesandbox.io/s/html-react-parser-6mtxp?file=/src/index.js

## Environment

- Ver

[2020-08-14 21:37] smschick opened #171 "Parsing a string in Internet Explorer 11 without any html elements"
## Expected Behavior
parsing a string in Internet Explorer 11 without any html elements should just return the string provided un-parsed like it does in all other modern browsers.

## Actual Behavior
parsing a string in Internet Explorer 11 without any html elements will cause html-react-parser to choke and throw this error: `Object doesn't support property or method 'toLowerCase'`

## Steps to Re

[2020-09-04 17:51] on2air opened #172 "Using replace not able to use style"
I'm using following replace to get notified when an image is loaded:
[code]

If the image has a style attribute, when i add it back in via the domNode.attribs it throws an error since its not an style object as expected for the jsx img.  its still a string.  How can I convert the attributes to be jsx ready to passthru in the replace?

[2020-09-09 08:59] cbbfcd commented on #172
use `attributesToProps`

[2020-09-09 11:16] Gus19 commented on #115
Hello, I have the same problem with 0.13 version, it's normal ?

[2020-09-09 14:57] on2air commented on #172
ok, thanks.  I also got it working this way by just adding to the domNode.attribs and then passing to domToReact

`
domNode.attribs['onLoad'] = this.imgLoad
return domToReact(domNode)
`

[2020-09-11 04:15] remarkablemark commented on #172
Published [0.14.0](https://github.com/remarkablemark/html-react-parser/releases/tag/v0.14.0):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2020-09-11 04:15] #172 closed

[2020-09-11 04:22] remarkablemark commented on #171
@samikarak What version of `html-react-parser` are you using? Since [v0.11.1](https://github.com/remarkablemark/html-react-parser/blob/v0.11.1/index.js#L19-L21), this parser is doing an early return for blank string.

[2020-09-11 04:31] remarkablemark commented on #115
Issue should be fixed @Gus19. Can you provide a reproducible example using [Repl.it](https://repl.it/@remarkablemark/html-react-parser-SSR)?

And to note, script tags are not evaluated on the client-side. See [FAQ](https://github.com/remarkablemark/html-react-parser#are-script-tags-parsed).

[2020-09-11 04:55] remarkablemark commented on #170
Thanks for opening this issue. `replace` is working as expected. `<a>` is not being parsed because you forgot to include it in `domToReact()`.

So instead of passing the children:

[code]

You want to pass the parent:

[code]

The reason your 2nd example worked is probably due to a bug in [html-dom-parser](https://github.com/remarkablemark/html-dom-parser).

See [CodeSandbox](https://codesandbox.i

[2020-09-11 14:40] taw1313 commented on #170
Thank you...  works as you expect...

[2020-09-11 20:50] smschick commented on #171
"version": "0.13.0"

On Thu, Sep 10, 2020 at 11:22 PM Mark <notifications@github.com> wrote:

[2020-09-12 01:35] remarkablemark commented on #171
Can you upgrade to the latest version and verify if the error still comes up?

[code]

[2020-09-26 17:33] lazerwalker commented on #168
@remarkablemark I'm experiencing this too — here's a fairly trivial test case: https://repl.it/repls/FriendlyYearlyPublisher#index.js

[2020-09-26 19:17] remarkablemark commented on #168
@lazerwalker What version of `html-react-parser` are you using? I see in your Repl.it that you're using [0.10.1](https://repl.it/repls/FriendlyYearlyPublisher#package-lock.json).

This feature was made available in [0.12.0](https://github.com/remarkablemark/html-react-parser/issues/62#issuecomment-639914562). Also, this only works server-side (Node.js) and does not work client-side (browser).

[2020-09-26 20:30] lazerwalker commented on #168
aha, sorry about that — I just clicked the Repl.it link you posted above and used whatever it gave me. But it'll be failing for me locally since I'm doing it in the browser.

The README doesn't specify that this feature doesn't work in the browser. I'm happy to submit a PR to update it, but just wanted to confirm: is it specifically this flag that isn't supported, or changing any htmlparser2 setti

[2020-09-26 20:48] remarkablemark commented on #168
@lazerwalker Yes a PR to explicitly state that this feature is available in >=`0.12.1` and only works on the server (Node.js) and not the client (browser) would be greatly appreciated.

[2020-09-30 14:10] Eyeofatiger opened #175 "Not rerender correct tag with class"
Hi, I have some issue.
From my server I get a string `<ul class="items"><li>----</li></ul>

my code:

import parse, { domToReact } from 'html-react-parser';
import styles from './styles.scss';

const renderUl = (children, opt) => (
            <ul className={styles.items}>{domToReact(children, opt)}</ul>
        );

 const options = {
        replace: ({ type, name, attribs, children }) => {

[2020-10-02 20:45] carrickjason opened #176 "`parse` tries to create invalid HTML tag"
## Expected Behavior

`parse` should handle `<mailto:<a href=\"mailto:test@test.com\">test@test.com</a>>` properly by not treating `mailto` as a valid html tag

## Actual Behavior

`parse('<mailto:<a href=\"mailto:test@test.com\">test@test.com</a>>')` tries to create a react element of type `mailto:<a` resulting in the following error:

[code]

## Reproducible Demo

https://jsfiddle.net/78Lo4rkf/

[2020-10-16 16:24] #175 closed

[2020-10-27 01:40] #170 closed

[2020-10-27 02:03] remarkablemark commented on #176
This is expected behavior since `html-react-parser` does not sanitize invalid HTML. See [FAQ](https://github.com/remarkablemark/html-react-parser#does-this-library-sanitize-invalid-html).

[2020-10-28 00:51] #168 closed

[2020-10-29 08:27] christianfredh opened #177 "Export cssToJs"
I'm trying to find a library to convert inline css string to React css style object. Example:

"background-color: blue; margin-top: 10px"

to:

{
	backgroundColor: 'blue',
	marginTop: '10px'
}

I understand that this is what cssToJs function does. And since I anyway use this library , it would be great if this function could be exported. I guess in a separate module, like attributesToProps, would

[2020-10-29 19:59] mcviswanadha commented on #98
Hi, will this one work in react helmet for below

<script type="text/javascript" src='https://www.cdn.com/shared/pp/sdvice/dyncdn/<esi:include src="https://www.cdn.com/shared/pp/sdvice/sttcdn/version" onerror="continue"></esi:include>/vice_loader/perf.js'></script>

[2020-11-10 13:07] RDjarbeng opened #180 "Add class name to html before parsing"
Is there a way to add class names in react to the html elements to be parsed?

Supposing I have code similar to the ordered list below
[code]

and I now want to replace it with almost the same code but sourced from markdown files.
Assume it's stored in a variable

[code]

_Notice the className attribute is missing in the second block of code._
So my question is does html-react-parser support addin

[2020-11-11 01:30] remarkablemark commented on #180
Have you tried using the [replace](https://github.com/remarkablemark/html-react-parser#replacedomnode) option?

[2020-11-11 19:13] RDjarbeng commented on #180
Thanks it worked perfectly

[2020-11-11 19:13] #180 closed

[2020-11-16 01:22] logan-markewich opened #181 "Am I using this properly?"
I'm trying to use this package to parse output from Mozilla's readability tool.

[code]

The tool reduces a webpage down to a focused "reader" mode, and string of that reduced page is under article.content.

When I log the html string, it seems proper, but the elements output here is just [object Object] and doesn't render. Did I miss something? Sorry if this is obvious, I'm pretty new to javascri

[2020-11-16 04:59] jordie23 commented on #177
Agreed. I basically copied it out of these repo to use and I'm not happy about doing it that way. Would be great if it was just exported.

[2020-11-18 02:29] remarkablemark commented on #181
Can you provide a reproducible example with [CodeSandbox](https://codesandbox.io/s/940pov1l4w), [JSFiddle](https://jsfiddle.net/remarkablemark/7v86d800/), or [Repl.it](https://repl.it/@remarkablemark/html-react-parser)?

[2020-11-23 02:09] remarkablemark commented on #177
I moved [`cssToJs`](https://github.com/remarkablemark/html-react-parser/blob/4b5fad9ca5ea47d360a1b894ed0f675f879d7f65/lib/attributes-to-props.js#L76) to another package [`style-to-js`](https://github.com/remarkablemark/style-to-js) in #182

So in [v0.14.2](https://github.com/remarkablemark/html-react-parser/releases/tag/v0.14.2):

[code]

It will install the dependency [`style-to-js`](https://www.

[2020-11-23 09:07] jordie23 commented on #177
That’s awesome. Thanks!

[2020-11-24 00:26] remarkablemark commented on #177
@christianfredh Let me know if there's anything else that you need. Otherwise, can you please close this issue?

[2020-11-25 18:39] christianfredh commented on #177
I've tested it now and it works great, thank you!

I still need this helper function to check for null/undefined at the moment:

[code]

I see there is a check for this in the actual code which returns an empty object. Maybe that could be reflected typescript-wise as well, I don't know. Either way, it works great, and I will close the issue.

[2020-11-25 18:39] #177 closed

[2020-11-30 21:29] PlopTheReal opened #184 "Parsing input type checkbox - unable to check the checkbox"
I'm trying to show a form with a couple of inputs.
For some reason the input type="checkbox" can't be checked/unchecked once rendered.
Any ideas?

[2020-12-01 09:17] PlopTheReal commented on #184
Ok I've found the culprit, an event handler was consuming secretly the event.

[2020-12-01 09:17] #184 closed

[2020-12-10 10:34] sinchang commented on #77
seems doesn't work if web components have style attributes.

[code]

[2020-12-10 20:44] remarkablemark commented on #77
@sinchang Can you help me provide a reproducible example with [CodeSandbox](https://codesandbox.io/s/940pov1l4w), [JSFiddle](https://jsfiddle.net/remarkablemark/7v86d800/), or [Repl.it](https://repl.it/@remarkablemark/html-react-parser)?

If we can confirm this is a bug, let's create a new issue.

[2020-12-11 01:26] sinchang commented on #77
@remarkablemark I created a demo on https://codesandbox.io/s/html-react-parser-forked-vll1t?file=/src/index.js:281322-281329, please have a look.

[2020-12-11 02:25] remarkablemark commented on #77
@sinchang Can you open a new issue and update your demo so `html-react-parser` only parses the HTML:

[code]

Since that's enough to reproduce the bug?

[2020-12-11 05:08] sinchang opened #188 "Doesn't work with web components with style attributes"
## Expected Behavior
render web component correctly

## Actual Behavior
throw error on build

## Reproducible Demo
https://codesandbox.io/s/html-react-parser-forked-vll1t

## Environment

- Version: [v0.14.2](https://github.com/remarkablemark/html-react-parser/tree/v0.14.2)

[2020-12-11 14:50] arriesbrendan opened #189 "Parsing correctly formatted self closing tags causes nesting bug"
## Description
When parsing in elements like [&lt;div /&gt;&lt;div /&gt;, &lt;path /&gt;&lt;path /&gt;, etc] causes the program to nest the elements instead of placing them as siblings.

## What should happen
html = "&lt;path /&gt;&lt;path /&gt;"
parse(html) = &lt;path /&gt;&lt;path /&gt; OR &lt;path&gt;&lt;/path&gt;&lt;path&gt;&lt;/path&gt;

## What happens instead
html = "&lt;path /&gt;&lt;path

[2020-12-12 03:06] remarkablemark commented on #188
I can confirm that this error for web components occurs even in React v15:

[code]

I will work on a fix to ensure that [`attributesToProps`](https://github.com/remarkablemark/html-react-parser/blob/v0.14.2/lib/dom-to-react.js#L64-L66) will transform `style` string into an object for custom elements.

[2020-12-12 04:14] remarkablemark commented on #188
@sinchang Please review PR #193

[2020-12-12 04:37] remarkablemark commented on #189
This is expected behavior.

You may want to check out option [`htmlparser2`](https://github.com/remarkablemark/html-react-parser/tree/v0.14.2#htmlparser2) and try enabling [`xmlMode`](https://github.com/fb55/htmlparser2/wiki/Parser-options#option-xmlmode):

[code]

However, note that this option is only available on the server-side (Node.js) and does not work on the client-side (browser).

See #15

[2020-12-12 06:26] #188 closed

[2020-12-12 06:30] remarkablemark commented on #188
Published [0.14.3](https://github.com/remarkablemark/html-react-parser/releases/tag/v0.14.3):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[Yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2020-12-12 06:38] remarkablemark commented on #169
Closing issue due to inactivity. Feel free to reopen if you're still experiencing an issue.

[2020-12-12 06:38] #169 closed

[2020-12-12 06:39] remarkablemark commented on #171
Closing issue due to inactivity. Feel free to reopen if you're still experiencing an issue.

[2020-12-12 06:39] #171 closed

[2020-12-12 06:41] remarkablemark commented on #176
Was the [FAQ](https://github.com/remarkablemark/html-react-parser/tree/v0.14.3#faq) able to help you? If so, can this issue be closed?

[2020-12-12 06:42] remarkablemark commented on #181
Were you able to resolve this issue? If so, can this issue be closed?

[2020-12-12 22:57] jhechtf opened #194 "Filtering Down Attributes"
I am using this in a place where I have to parse user-given content.

I am already aware that this library is not safe, I have already implemented safeguards to ensure that non-allowed elements are not presented.

But now I have a different scenario wherein I need to be able to safely allow certain elements (like a p tag) with certain attributes (style), and disallow any JS/React events.

I've tri

[2020-12-12 23:28] remarkablemark commented on #194
Are you able to set up some kind of whitelist using [replace](https://github.com/remarkablemark/html-react-parser/tree/v0.14.3#replacedomnode)?

E.g.:

[code]

[2020-12-14 23:56] jhechtf commented on #194
That is my current implementation, overall. The issue is that while I know this particular use case, I can almost guarantee that there will be other people who use this function in use cases I do not yet know (perhaps they instead want to use a small tag instead of a p tag), so I can't particularly hard-code a mapping like I did with the other allowed elements in the parsing.

[2020-12-15 12:30] Azumi0 opened #198 "TypeError: Text is not a constructor"
## Expected Behavior

React component render

## Actual Behavior

Crash of entire react application. On calling `parse` the console shows the following error:
`TypeError: Text is not a constructor
    at formatDOM (utilities.js:93)
    at HTMLDOMParser (html-to-dom-client.js:38)
    at HTMLReactParser (index.js:27)`
The same code worked fine on version 0.10.3 but after updating to 1.0.0 I can't ev

[2020-12-15 20:01] remarkablemark commented on #198
@Azumi0 can you try deleting your lockfile and `node_modules` and reinstalling?

[code]

The latest version (1.0.0) is working on:

- [CodeSandbox](https://codesandbox.io/s/940pov1l4w)
- [Repl.it](https://repl.it/@remarkablemark/html-react-parser)
- [JSFiddle](https://jsfiddle.net/remarkablemark/7v86d800/)

[2020-12-15 20:06] remarkablemark commented on #194
In that case, I recommend adding a sanitizer. It will increase your bundle size and decrease your web app's performance, but it's a tradeoff worth making in regards to safety.

If you sanitize your HTML, then you may not need `html-react-parser` anymore and can use [`dangerouslySetInnerHTML`](https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml). Of course, if you need to `replace` e

[2020-12-15 20:38] jhechtf commented on #194
Dang, I was afraid you would say that. Well, I guess we'll see where this heads.

Closing.

[2020-12-15 20:38] #194 closed

[2020-12-16 00:26] Azumi0 commented on #198
Hi, I tried removing the `node_modules` but not the `package-lock.json`. Removing the lock file helped, Now I just need to test my whole application to see if anything exploded after updating a lot of packages (thanks to deleting the lockfile) :smile:

Thanks for the assistance :+1:

[2020-12-16 00:26] #198 closed

[2020-12-22 05:50] bicstone opened #199 "TS Error: Property 'attribs' does not exist on type 'DOMNode'."
## Expected Behavior
When upgrade from version 0.14.3 to 1.0, TypeScript type errors occurs.

[code]

## Actual Behavior
No error occurs.

## Steps to Reproduce
Upgrade from version 0.14.3 to 1.0.

## Reproducible Demo
0.14.3: https://codesandbox.io/s/mutable-surf-7r84v?file=/src/App.tsx
1.0: https://codesandbox.io/s/async-wildflower-p1wxl?file=/src/App.tsx

MEMO: https://github.com/remarkablemark

[2020-12-22 06:06] remarkablemark commented on #199
Thanks for opening this issue!

You'll need to do an `instanceof` check of domhandler's `Element`:

[code]

See https://codesandbox.io/s/html-react-parser-199-ehdss

I think this would be a good opportunity to consider exporting `Element` from the main TS definition file and updating the `README.md` about this gotcha during migration to `1.0.0`.

[2020-12-22 06:14] bicstone commented on #199
Now I understand.
Thank you for your explanation!

[2020-12-22 12:15] bicstone commented on #199
@remarkablemark  Can I ask you just one more question?
Is this a problem with the type defined in the `domhandler` ?

## Expected Behavior
No error occurs.

## Actual Behavior
When upgrade from version 0.14.3 to 1.0, TypeScript type errors occurs.

[code]

## Steps to Reproduce
Upgrade from version 0.14.3 to 1.0.

## Reproducible Demo
0.14.3: https://codesandbox.io/s/html-react-parser-199-forked-p

[2020-12-22 12:23] #199 closed

[2020-12-22 17:04] SavedByZero opened #200 "<b> and <strong> tags are ignored"
Is this a bug report?

* Yes: Continue filling out the template.

## Expected Behavior
The following text should appear with italics and bold when parsed with parse():

`Have you heard of Chronic Absence? <i>1 in 6 </i>students are considered <strong>chronically absent</strong>, which means they miss over 15 days of school each year. <br><br>This was before COVID-19. Now, even more children are at

[2020-12-23 02:22] remarkablemark commented on #200
Can you provide a reproducible example on [CodeSandbox](https://codesandbox.io/s/940pov1l4w) or [JSFiddle](https://jsfiddle.net/remarkablemark/7v86d800/)?

[2020-12-27 22:30] remarkablemark opened #202 "[BUG] tags inside of <title> are not parsed as text on Node.js"
## Expected Behavior

Tags inside of `<title>` should be escaped as text on Node.js:

[code]

Output:

[code]

## Actual Behavior

Tags inside of `<title>` are parsed as React elements on Node.js:

[code]

Output:

[code]

## Steps to Reproduce

See above.

## Reproducible Demo

Repl.it: https://repl.it/@remarkablemark/html-react-parser-202

## Environment

- Version: [1.1.0](https://github.com/re

[2020-12-27 23:07] #202 closed

[2020-12-27 23:24] remarkablemark commented on #202
Published [v1.1.1](https://github.com/remarkablemark/html-react-parser/releases/tag/v1.1.1):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[Yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2020-12-28 10:10] Protectator commented on #189
I'm using html-react-parser on the client side. What path(s) toward supporting parsing self-closing tags on the client-side do you see ?

[2021-01-03 12:26] syedfarathsayeed opened #204 "For TS projects, instanceof is always returning false"
I have a htmlString to parse and would like to customize some elements after parsing, thus using replace function.

But instanceof Element is always returning false.

I have created a demo https://codesandbox.io/s/priceless-thunder-u14q2?file=/src/App.tsx

In the console if you see, I do have a Element instance, but its still returning false for an instanceof check

[2021-01-04 00:04] remarkablemark commented on #204
Thanks for opening the issue @syedfarathsayeed!

The reason why `domNode instanceof Element` is always returning false is because the incorrect `Element` is used. Instead of using the DOM Element, please use the [domhandler](https://github.com/fb55/domhandler) Element:

[code]

See [CodeSandbox](https://codesandbox.io/s/html-react-parser-204-59uyn?file=/src/App.tsx) or [README](https://github.com/

[2021-01-04 00:11] remarkablemark commented on #189
@Protectator There might not be an easy way to support parsing invalid self-closing tags on the client-side since we're using [html-dom-parser](https://github.com/remarkablemark/html-dom-parser), which relies on the native DOM parser.

If you're not using the `replace` option, my recommendation is to sanitize the HTML string and using React's [dangerouslySetInnerHTML](https://reactjs.org/docs/dom-

[2021-01-05 01:12] danielimmke opened #205 "trim option should exclude <pre>"
Thank you for the project. Is it possible to have the `trim: true` option ignore everything inside `<pre>` elements given the nature of that element is to preserve whitespace? Would your merge a PR that does this?

[2021-01-05 01:52] remarkablemark commented on #205
Thanks for the idea @danielimmke!

Unfortunately, it's not easy to preserve whitespace inside a `<pre>` element. The reason is because [`<pre>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre) allows for [phrasing content](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Phrasing_content), which complicates the implementation.

For example, how can we handl

[2021-01-05 03:05] danielimmke commented on #205
Thanks for the quick reply - maybe there's a better more generic way to handle this then. I still need to do `trim: true` for most of my content, but maybe could add an option to have the parser ignore the inside of a specific element (could pass a selector) and not attempt to parse/change anything inside it. I'm not sure if this is currently possible with the available options.

I'm using this in

[2021-01-05 23:31] remarkablemark commented on #205
Actually there is a way to disable `trim` for `<pre>` elements by using the [replace](https://github.com/remarkablemark/html-react-parser#replacedomnode) option:

[code]

See [CodeSandbox](https://codesandbox.io/s/html-react-parser-205-jere3) demo.

[2021-01-05 23:34] danielimmke commented on #205
Thanks, I will try that instead.

[2021-01-05 23:34] #205 closed

[2021-01-06 21:15] syedfarathsayeed commented on #204
Thanks for your reply.

[2021-01-06 21:15] #204 closed

[2021-01-07 00:51] remarkablemark commented on #181
Closing issue due to inactivity. Feel free to reopen if you have another question.

[2021-01-07 00:51] #181 closed

[2021-01-07 12:33] undavide opened #206 "Can't make `lowerCaseTags` work properly"
## Expected Behavior

I'm trying to pass in the parsed string a React Component, so I've set
[code]

to prevent `parse()` to output a lowercase tag

## Actual Behavior

The tag is rendered lowercase nonetheless.

## Steps to Reproduce
## Reproducible Demo

See [this CodeSandbox](https://codesandbox.io/s/html-react-parser-forked-lrkzv?file=/src/index.js)

I've imported `{Link as SpectrumLink}` but

[2021-01-07 14:59] undavide commented on #206
FWIW,
I've worked around with a `replace` function that wraps `<a>` tags with Spectrum `<Link>`, see [the CodeSandbox](https://codesandbox.io/s/html-react-parser-forked-nehpm?file=/src/index.js).

[2021-01-07 17:17] remarkablemark commented on #206
Thanks for opening the issue @undavide.

This is expected behavior since `htmlparser2` options only work on the server-side (Node.js) and do not work on the client-side (browser).

[2021-01-08 07:48] undavide commented on #206
Oh, thanks!
I don't know if this is related – possibly, I'm a bit overwhelmed by Gatsby at the moment – but I also had other issues due to the fact that I wasn't properly _"hydrating"_ the Server Side Rendering. React Spectrum has this `<SSRProvider>` component that I missed, adding that back solved my other problems.
I've also discovered that with the Gatsby version I've been using:

Which maybe

[2021-01-08 07:48] #206 closed

[2021-01-11 08:31] allanmc opened #207 "TS error: domToReact(node.children) not working in v1.0.0+"
## Expected Behavior

Replace using `domToReact(node.children)` as shown in README should work in Typescript.

## Actual Behavior

[code]

## Reproducible Demo

https://codesandbox.io/s/little-dew-h4l9h?file=/src/App.tsx

## Environment

- Version: 1.0.0+

[2021-01-12 03:21] remarkablemark commented on #207
Thanks for opening the issue @allanmc

I can confirm the TS error. The fix would be to include domhandler `Node` in `DOMNode` type (see [line](https://github.com/remarkablemark/html-react-parser/blob/v1.1.1/index.d.ts#L19)). I will open a PR shortly.

[2021-01-12 03:37] remarkablemark commented on #207
@allanmc please review PR #208

[2021-01-12 06:15] #207 closed

[2021-01-12 06:19] remarkablemark commented on #207
Published [v1.1.2](https://github.com/remarkablemark/html-react-parser/releases/tag/v1.1.2):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[Yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2021-01-14 10:14] saltires opened #209 "After the conversion, the className becomes classname"
parse(`<div className="App">
    <header className="App-header">
      <img src={logo} className="App-logo" alt="logo" />
      <p>
        Edit <code>src/App.js</code> and save to reload.
      </p>
      <a
        className="App-link"
        href="https://reactjs.org"
        target="_blank"
        rel="noopener noreferrer"

        Learn React
      </a>
    </header>
  </div>`)
should be <d

[2021-01-14 10:24] #209 closed

[2021-01-21 11:40] lhtdesignde opened #213 "es6 code sneak in / breaks ie11"
## Expected Behavior

There should be es5 code only is dist build.

## Actual Behavior

When building the latest version 1.2.1 with webpack for production, it adds es6 code into the dist build.
I'm not 100% sure why that is, as I couldn't find the "const" dist build itself.
For me this new addition gets also compiled:
https://github.com/remarkablemark/html-react-parser/commit/4caa88cc3d6eaf9c28aca

[2021-01-22 00:33] remarkablemark commented on #213
Thanks for opening this issue @lhtdesignde

This is happening because [webpack](https://webpack.js.org/) prioritizes `module` over `main` from `package.json`:

So instead of:

[code]

See if you can do:

[code]

See [resolve.mainFields](https://webpack.js.org/configuration/resolve/#resolvemainfields)

[2021-01-22 00:37] remarkablemark commented on #213
Also, what version of webpack are you using?

[2021-01-22 10:33] lhtdesignde commented on #213
webpack 5.16.0

[2021-01-22 10:53] lhtdesignde commented on #213
SO good! Thanks for this answer @remarkablemark. That made it work!

[2021-01-23 00:08] remarkablemark commented on #213
Great to hear! Can this issue be closed @lhtdesignde?

[2021-01-25 12:53] lhtdesignde commented on #213
yes thanks!

[2021-01-25 12:53] #213 closed

[2021-01-27 09:19] apolio opened #214 "Rollup build breaks in IE11"
## Expected Behavior

There should be es5 code only in production build.

## Actual Behavior

Similar to [213](https://github.com/remarkablemark/html-react-parser/issues/213), there is ES6 code introduced and it breaks the build in IE11.

## Configuration

This happens only when building the project in rollup. It doesn't happen for example in Storybook.

See below rollup.config.js

[code]

Followi

[2021-01-28 01:13] remarkablemark commented on #214
Thanks for opening this issue @apolio.

I can confirm this bug, which was introduced in #210. I will work on a fix.

[2021-01-28 01:32] #214 closed

[2021-01-28 01:38] remarkablemark commented on #214
Published [v1.2.2](https://github.com/remarkablemark/html-react-parser/releases/tag/v1.2.2):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[Yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2021-01-28 01:40] remarkablemark commented on #213
Just a heads up @lhtdesignde, I published [v1.2.2](https://github.com/remarkablemark/html-react-parser/releases/tag/v1.2.2), which removes `const` from `index.mjs`.

This should fix the root cause of your issue (you can undo your `webpack.config.js` changes).

[2021-01-28 04:42] anhtran opened #217 "Can't reexport the named export 'attributesToProps' from non EcmaScript module (only default export is available)"
I used this in Next.js. After upgrade to the new version 1.2.2, the error has occurred.

[code]

[2021-01-28 05:02] varunkumar3091999 commented on #217
Same issue for me too.

[2021-01-28 05:25] remarkablemark commented on #217
I can reproduce the error in #219, I will work on a fix. This is caused by #216.

[2021-01-28 05:33] #217 closed

[2021-01-28 05:37] remarkablemark commented on #217
Published [v1.2.3](https://github.com/remarkablemark/html-react-parser/releases/tag/v1.2.3):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[Yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2021-01-29 13:15] purp1eeeee opened #221 "TS Error : instanceof Element always return false with Next.js"
## Reproducible Demo
https://codesandbox.io/s/quizzical-lake-16q4o?file=/pages/index.tsx

When replacing to a custom component, false will always be returned.

I am currently using the any type.
However, is there any other solution other than the any type?

[2021-01-31 19:48] sugizon opened #222 "Will Internet Exporer 11 be supported?"
## Description
Will Internet Exporer 11 be supported?
I think the following code in index.mjs is not supported by Internet Explorer 11.
`export var { domToReact, htmlToDOM, attributesToProps } = HTMLReactParser;`
Is it possible to support it?

## Environment

- Version: v1.2.0 later
- Platform: Windows 10
- Browser: Internet Explorer 11

[2021-02-01 00:11] remarkablemark commented on #221
Thanks for opening the issue @Murasaki-1102

In your CodeSandbox example, you're not returning a React element so replace won't work. See [readme](https://github.com/remarkablemark/html-react-parser/tree/v1.2.3#replace).

So can you replace the logs with a return of your custom element?

[code]

See updated [CodeSandbox](https://codesandbox.io/s/html-react-parser-221-2dtui?file=/pages/index.tsx).

[2021-02-01 00:15] remarkablemark commented on #222
Thanks for opening this issue @sugizon

This library will support IE11 until its sunset date of August 17, 2021 (see [source](https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666)).

It seems like I introduced a bug in #220. I will open a PR to fix it.

[2021-02-01 00:32] #222 closed

[2021-02-01 00:36] remarkablemark commented on #222
Published [v1.2.4](https://github.com/remarkablemark/html-react-parser/releases/tag/v1.2.4):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[Yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2021-02-01 05:39] sugizon commented on #222
Thanks！

[2021-02-01 14:29] lhtdesignde commented on #213
thank you very much!

[2021-02-01 15:22] remarkablemark commented on #213
You're welcome! Let me know if you encounter any issues.

[2021-02-02 12:26] kakaeriel commented on #221
I following [this instruction](https://github.com/remarkablemark/html-react-parser/tree/v1.2.3#replace), and I also have same problem, I can't get property `attribs` from `domNode`.

Because typescript check `domNode` is instance of `DOMNode`, not `Element` type, so that the error occurs, because `DOMNode` hasn't `attribs` property.

And if you check with this condition `console.log(domNode instan

[2021-02-02 16:26] wheredoesyourmindgo commented on #221
I can confirm I'm having the same issue with a Next.js project; Typescript type-casting seems to be the only work around after upgrading html-react-parser.

[2021-02-02 16:29] syedfarathsayeed opened #224 "Parser not working in Samsung internet and KaiOS"
I am getting a `blank white screen` when trying to parse a html string in `Samsung internet or KaiOS`, but works well with chrome, safari and firefox.

Does the plugin supports these browsers?

Thanking you in advance.

[2021-02-02 16:35] Murasaki-1102 commented on #221
@kakaeriel
so good! thank you👍

[2021-02-02 21:14] chateauvieux commented on #224
getting the same issue on KaiOS 2.5, KaiOS 2.5.2, Samsung Internet 13.2.xxx
Has anybody an idea of how we can debug/diagnose the issue on those phone browsers ?

[2021-02-02 22:44] jerelmiller commented on #206
I actually ran into this exact issue. I'd love to be able to maintain casing for tag names and attribute names. Unfortunately these options are ignored client-side.

I want to be able to selectively replace specific bits of a string with React components. The text itself could be XML/HTML, or any other language. I want to keep the XML nodes stringified as raw text (which I can do myself), but repl

[2021-02-02 23:13] sarah-j-smith commented on #221
Having these issues with a Typescript project. Like @kakaeriel I'm following this instruction about [replace including the section on Typescript.](https://github.com/remarkablemark/html-react-parser/tree/v1.2.3#replace)

The solution from @kakaeriel works for me. The `instanceof` operator doesn't work (Element is not a type) and after hours browsing through node_modules looking for a type definiti

[2021-02-02 23:48] remarkablemark commented on #221
Thanks for providing an alternative solution @kakaeriel. Would you be interested in opening a PR to improvement the `README.md` documentation?

[2021-02-02 23:50] remarkablemark commented on #224
@syedfarathsayeed @chateauvieux What version of the parser are you using? Can you try downgrading to version `0.14.3`?

I unfortunately do not have access to Samsung Internet Browser or KaiOS so I am unable to test/reproduce this.

[2021-02-02 23:54] remarkablemark commented on #206
@jerelmiller If you want to continue to use `htmlparser2` on the client-side, you will need to do some webpack finagling to ensure it gets loaded there (see [html-dom-parser](https://github.com/remarkablemark/html-dom-parser/blob/v1.0.0/package.json#L80)). The downside is that it will greatly increase your bundle size.

In regards to `README.md` documentation, would you like to open a PR to make i

[2021-02-03 00:16] syedfarathsayeed commented on #224
I am using 1.0.0

[2021-02-03 01:59] remarkablemark commented on #224
@syedfarathsayeed Can you try downgrading to `0.14.3`? You can use TypeScript with that version as well.

[2021-02-03 03:16] kakaeriel commented on #221
@remarkablemark Yes sure! I will create a PR, ASAP.

[2021-02-03 08:19] syedfarathsayeed commented on #224
Yes I tried downgrading to 0.14.3, but the problem persists

[2021-02-04 04:10] remarkablemark commented on #224
Hmm... since I'm unable to reproduce this since I don't have the environment to do so, can someone help verify if the error is coming from the parser or something else?

[2021-02-13 15:45] chateauvieux commented on #224
We have fixed the problem which was not parser related. You may close this issue. Thanks

[2021-02-13 17:07] #224 closed

[2021-02-13 17:28] remarkablemark commented on #224
Great to hear!

[2021-02-18 13:22] linkurzweg opened #227 "How to deal with !important in style attributes?"
I have the unfortunate situation that I sometimes get html tags from a cms, which include inline styles with !important in them. I have to parse those and render them in a React app.

There is nothing I can do about that and all styles with !important attached to them get stripped out by React.
Is there some way I can use html-react-parser to keep those styles, so they will remain in the body?
Sor

[2021-02-19 00:30] remarkablemark commented on #227
@linkurzweg You might not need `html-react-parser`. See [fiddle](https://jsfiddle.net/remarkablemark/9ezs2j0y/). Just be aware of XSS vulnerability if you use [dangerouslySetInnerHTML](https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml).

[2021-02-19 09:05] linkurzweg commented on #227
@remarkablemark Ah, I didn't even think of dangerouslySetInnerHTML!
No real risk for XSS in my case, so that should be fine.

The problem is, I still need to run everything through html-react-parser, because the body can contain elements I need to replace with some React component. Only if the element has a style attribute I can render it as it is.
Is there any way I can convert the domNode back t

[2021-02-20 02:45] remarkablemark commented on #227
@linkurzweg You can pass your domNode in `domToReact()` and it will render it as a React element. See [replace](https://github.com/remarkablemark/html-react-parser/tree/v1.2.4#replace) examples.

[2021-02-22 14:53] Naxos84 commented on #221
Wow. I have the same issue using NextJS.

So why does this only occur in a NextJS app.
I setup a react-scripts typescript app and there it works.
https://codesandbox.io/s/html-parsing-and-replacing-elements-yjtv7?file=/src/index.tsx

[2021-02-23 00:40] remarkablemark commented on #221
I'm not sure @Naxos84. I bet Next.js has a different TypeScript configuration. Please check out @kakaeriel's [solution](https://github.com/remarkablemark/html-react-parser/issues/221#issuecomment-771600574) for a workaround.

@kakaeriel let me know if you're able to open a PR to update the `README.md` with your workaround. If you're unable to do it, I can do it. Thanks!

[2021-02-23 07:43] Naxos84 commented on #221
I don't think that it is NextJs related.
I tried a little more and voila it worked somehow.
I changed @remarkablemark codesandbox and added `console.log(domElement.constructor)` as mentioned on [Stack Overflow](https://stackoverflow.com/questions/13613524/get-an-objects-class-name-at-runtime).

The result looks as follows:
![grafik](https://user-images.githubusercontent.com/17813025/108814476-25e0

[2021-02-23 09:18] linkurzweg commented on #227
@remarkablemark Thanks again! I know that, but I don't see how that would help in my case?
I still would need to get the domNode back to a string that I could use with dangerouslySetInnerHTML or am I not getting something?

[2021-02-23 10:13] Naxos84 commented on #221
I suggest using a custom typeguard.

[code]

[code]

[2021-02-24 12:17] fabienbranchel opened #231 "Module '"../@types/domhandler"' has no exported member"
## Expected Behavior

Run OK

## Actual Behavior

Run KO

## Steps to Reproduce

When used with TypeScript (4.1.5), it's suggest to install `@types/domhandler` and `@types/htmlparser2`.

It's fine. But when it's done, I've got these errors :

![image](https://user-images.githubusercontent.com/23743473/108999192-420f2380-76a2-11eb-8545-e8f699f644c4.png)

## Environment

- Version: 1.2.4
- Platform:

[2021-02-26 01:45] remarkablemark commented on #231
@fabienbranchel can you import the types without using `@types`?

[code]

[2021-02-26 01:47] remarkablemark commented on #227
@linkurzweg I don't follow your use-case. Can you provide an example using [CodeSandbox](https://codesandbox.io/s/940pov1l4w), [JSFiddle](https://jsfiddle.net/remarkablemark/7v86d800/), or [Repl.it](https://repl.it/@remarkablemark/html-react-parser)?

[2021-02-26 12:48] fabienbranchel commented on #231
I try, it's not resolving the issue.
Moreover, it's doesn't feel right to import something I don't use directly.

[2021-02-28 00:25] remarkablemark commented on #231
So [domhandler](https://github.com/fb55/domhandler/blob/v4.0.0/package.json#L11) exports its own types so installing `@types/domhandler` may be unnecessary.

Can you provide a reproducible example using [CodeSandbox](https://codesandbox.io/s/html-react-parser-z0kp6)?

[2021-03-01 12:40] linkurzweg commented on #227
@remarkablemark see fiddle here: https://jsfiddle.net/9bezs1rt/.
So, it's like this: I get one huge string with all the html in it, that needs to be parsed in some way (can contain script tags, iframes, social media embeds etc.). I need to iterate through all the dom nodes and handle a lot of different cases.

If the dom node has some inline styles attached to it, I can assume I don't need to repl

[2021-03-03 03:06] remarkablemark commented on #227
@linkurzweg Thank you for creating the fiddle. So the reason why the styles are not rendered correctly is because inline styles do not need `!important`.

After removing `!important`, I made the red border show. See updated [fiddle](https://jsfiddle.net/remarkablemark/ab9j1Lzr/).

[2021-03-03 08:49] linkurzweg commented on #227
@remarkablemark Of course, silly me! There can be some other style tags with !important inside the html string (it's all very messy) that might clash with the inline styles. But I can remove the !important there as well, so it should be fine.  :D Thanks a lot for looking at this and your help!

[2021-03-03 08:49] #227 closed

[2021-03-04 16:59] SavedByZero commented on #200
Sorry it took me so long to get back to this. I am trying to make up an example now, but I noticed that I'm getting "parse is not a function" errors with the latest version.

[2021-03-04 18:00] SavedByZero commented on #200
scratch that, I got it to work by using the import method instead of the require method. Anyhow, here's a test example that replicated the issue on _some_ browsers:

https://codesandbox.io/s/eloquent-sara-stiis?file=/src/App.js

In Firefox, the bold doesn't show up, but if you change it to italics, the italics show.  Chrome seems to work okay though, for some reason.

[2021-03-09 02:13] remarkablemark commented on #200
@SavedByZero Thanks for creating the CodeSandbox example, I believe the `font-weight` is not rendering correctly because the [Poppins](https://fonts.google.com/specimen/Poppins) font-family is not loaded and you may be using the incorrect font-weight. By default, if the font is not loaded correctly, the browser will fallback to a default font.

[2021-03-10 12:42] lnikell opened #233 "Different default behaviour on client and server side"
I'm using version `html-react-parser@1.2.4` with Gatsby(React). I parse some content that is coming from CMS and inside this content, I have attributes in camelCase. Example: "<Hero withMedia="true"></Hero>". Then  I use parse method + replace to change those tags to react component. After using attributesToProps on a client-side I have all props in lowercase, but when I run a production build and

[2021-03-12 00:18] remarkablemark commented on #233
Thanks for opening this issue @lnikell.

Unfortunately, the inconsistent behavior between client and server-side parsing when using the `htmlparser2` option is expected. This is documented in the [README.md](https://github.com/remarkablemark/html-react-parser/tree/v1.2.4#htmlparser2), but let me know if it was clear or not.

Let me know if there's anything else I can do.

[2021-03-12 07:45] lnikell commented on #233
@remarkablemark thank you for the reply, maybe i don’t understand the documentation. My assumption is that parse method should give the same results client and server side, when you use it without any htmlparser options, but that does not happen, so i have to add that option i mentioned in the past in order to sync up the behavior.

[2021-03-13 19:55] remarkablemark commented on #233
@lnikell Your assumption that the parse method should give the same result client and server-side is valid.

This library and most options support that. The only option that doesn't support universal/isomorphic parsing is `htmlparser2`. This is because to ensure the bundle size doesn't get too large on the client-side, [htmlparser2](https://github.com/fb55/htmlparser2) is replaced with the native

[2021-03-13 19:58] lnikell commented on #233
So in that case it’s a bug, since without option i get different results on client and on server side.

[2021-03-13 20:11] remarkablemark commented on #233
I wouldn't necessary call it a bug. It is behavior that's intentionally not supported. If you would have to take a stab in supporting this feature, feel free to open a pull request.

[2021-03-13 20:17] lnikell commented on #233
Maybe i’m getting you wrong but you said

But I don’t get same result 😀 Or you wanted to say that method “parse “executed with zero configuration/default settings on the server by design could have different result since it uses different approach from how does it work on the client side.

[2021-03-13 20:20] remarkablemark commented on #233
I see, my misunderstanding. Can you provide a reproducible example of your bug?

[2021-03-13 20:36] lnikell commented on #233
Sure I will try to create generic gatsby project with the library and will push it to the repository.

[2021-03-29 14:22] jimthebob opened #236 "<br<p> causes "Script error.""
Bug Report
## Expected Behavior
      `<br</p>
    ` is  incorrect html. It should be `<br><p>` However, it does cause an error and doesn't display anything. This can be replicate in the jsfiddle item provided on the github web page i.e. https://jsfiddle.net/remarkablemark/7v86d800/

The text is displayed without causing a blank screen
## Actual Behavior
blank screen and script error

## Steps to

[2021-03-30 00:53] remarkablemark commented on #236
Thanks for opening the issue @jimthebob. This error seems to be expected behavior since invalid HTML markup will cause the parser to throw. I recommend sanitizing your HTML before running it through the parser.

[2021-03-30 10:52] jimthebob commented on #236
Ok, thanks for your reply. I had wrongly assumed that the parse would handle the incorrect html.

[2021-03-30 10:52] #236 closed

[2021-04-02 13:51] thany opened #238 "index.mjs messes up default import"
Default export not found. This problem started existing since the `index.mjs` was added. When I delete or rename this file from the installed package, it builds fine. When I put it back, I get these warnings again.

Maybe our webpack config is picking up `index.mjs` in favour of `index.js`, but it shouldn't, since I'm explicitly telling it to *only* find `.js` and `.jsx` files in the babel-loader

[2021-04-03 01:27] remarkablemark commented on #238
Sorry to hear about the issue @thany.

As a workaround, can you configure your [webpack config](https://github.com/remarkablemark/html-react-parser/issues/213#issuecomment-765031024)?

[2021-04-04 01:00] thany commented on #238
Thanks, I'll give it ago after Easter.

[2021-04-05 20:28] afk-mario opened #239 "Dom Handler options"
I need the startIndex and endIndex from the Dom handler in my react components, currently it seems the properties are always null, would like to pass in the options object, options to the DomHandler lib similar to how it's currently done for `htmlparser2`

[2021-04-06 08:05] thany commented on #238
That did the trick! 😀

For future reference, I had to go for:
[code]
Since in our case, it builds to a module for SSR purposes, instead of a regular thing that goes to the browser.

Now, I do still wonder. Is this a solution or merely a workaround? I'm not sure if this still requires a proper solution, or if the above is the actual proper solution.

[2021-04-06 17:18] remarkablemark commented on #238
So far, I haven't seen a lot issues regarding the `index.mjs` change (except for when I actually did break something). I believe this is a workaround for those with more complex webpack configs.

[2021-04-12 19:10] kfritsch commented on #231
### Fix
Hey I got the same Issue. I think the fix would be adding domhandler ^4.0.0 as a dependency.

### Explanation
The problem seems to be that this package uses "domhandler" directly but does not have it as a direct dependency. It only has it as an indirect dependency via "html-dom-parser". This can cause problems with the way npm installs packages. If another package requires an older version

[2021-04-12 20:50] remarkablemark commented on #231
@kfritsch Thanks for opening the PR. I left some comments.

[2021-04-12 21:05] #231 closed

[2021-04-12 21:06] remarkablemark commented on #231
@fabienbranchel @kfritsch I'll make a release later tonight

[2021-04-13 00:42] remarkablemark commented on #239
@afk-mario Are you able to use [htmlparser2 options](https://github.com/remarkablemark/html-react-parser/tree/v1.2.5#htmlparser2)?

Note that this only works on the server-side and not on the client-side.

[2021-04-13 00:44] remarkablemark commented on #231
Published [v1.2.5](https://github.com/remarkablemark/html-react-parser/releases/tag/v1.2.5):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[Yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2021-04-14 20:31] afk-mario commented on #239
Hmm you are right! totally missed that, I'm using it on the browser so this probably is out of scope, feel free to close this issue

[2021-04-14 22:47] remarkablemark commented on #239
Thanks @afk-mario, closing issue.

[2021-04-14 22:47] #239 closed

[2021-04-15 08:16] thany commented on #238
Fair enough, then let's consider this a proper solution.

[2021-04-15 15:28] remarkablemark commented on #238
@thany would you like to document this in the `README.md`? And are we good to close this issue?

[2021-04-16 11:33] EoleO opened #242 "Wrong return types on attributesToProps"
### Description
In the file `attributes-to-props.d.ts` the return types of `attributesToProps` function is a `Object` with `String` items.

https://github.com/remarkablemark/html-react-parser/blob/80bbea06fac6825f2667060f979fbd54b407e748/lib/attributes-to-props.d.ts#L3-L4

But in the `attributesToProps` function, `setStyleProp` is call to transform `CSSInline` to `StyleObject`.

https://github.com

[2021-04-16 17:06] remarkablemark commented on #242
Thanks for creating this issue @EoleO. Would you like to open a PR?

[2021-04-17 23:34] remarkablemark commented on #165
Closing issue due to inactivity.

[2021-04-17 23:34] #165 closed

[2021-04-17 23:35] remarkablemark commented on #176
Closing issue due to inactivity.

[2021-04-17 23:35] #176 closed

[2021-04-17 23:35] remarkablemark commented on #189
Closing issue due to inactivity.

[2021-04-17 23:35] #189 closed

[2021-04-18 01:21] remarkablemark commented on #242
@EoleO please review #245

[2021-04-18 17:49] #242 closed

[2021-04-18 17:55] remarkablemark commented on #242
Published [v1.2.6](https://github.com/remarkablemark/html-react-parser/releases/tag/v1.2.6):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[Yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2021-04-19 10:30] EoleO commented on #242
Thank you for your responsiveness

[2021-04-19 15:02] remarkablemark commented on #242
@EoleO Of course, feel free to reopen if you are still experiencing an issue.

[2021-04-20 08:56] thany commented on #238
That might be helpful, yes. Good to close 👍🏻

[2021-04-21 00:22] #238 closed

[2021-04-21 06:56] amnonh opened #246 "when using replace, prase stop after the first replcement"
## Expected Behavior
Parsing multiple items with typescript should continue parsing after replacing an element

## Actual Behavior
I'm parsing the following:
[code]
After parsing with replace the `mybutton` it stops, it never calls `h2`
I have compare environment, it only happens with typescript
## Steps to Reproduce
See the reproduc demo, use typescript and replace with an item after the item you

[2021-04-23 11:44] natterstefan commented on #221
Hey everyone, I was able to fix this in Next.js@10.x with [this solution](https://gist.github.com/natterstefan/3bc712eca6ff88781d687b7240a78cc1). It's a public Gist where you can find my current implementation details.

[2021-04-27 23:45] remarkablemark commented on #246
Thanks for opening this issue @amnonh

This happens because [html-dom-parser](https://github.com/remarkablemark/html-dom-parser) does not like self-closing custom elements (`<mybutton />`) and requires `<mybutton></mybutton>`.

See updated [CodeSandbox](https://codesandbox.io/s/html-react-parser-issue-246-8qbvr?file=/src/App.tsx) and WICG/webcomponents#624.

[2021-04-28 21:55] remarkablemark commented on #221
@natterstefan Thanks for sharing your solution!

[2021-05-09 07:38] vladislav-puzyrev commented on #221
I have the same problem with NextJS. Element is always undefined. I typed domNode as any and converted the options type as HTMLReactParserOptions. Element from domhandler doesn't work with SSR?

[code]

[2021-05-19 18:15] TamerZorba opened #250 "the library broke the render when having <= chars, which is valid html"
## Expected Behavior

it should accept and render any valid HTML content even with <= characters in it

## Actual Behavior

when you have <= or <s1 or anything inside the code its considering the = or s1 as a components while the regex should search for single self closing <tag /> or  with ending <tag></tag>.

## Steps to Reproduce

my example was
<li>Temperature Rating: Class B (<=130 °C)</li>
an

[2021-05-26 08:27] natterstefan opened #252 "TypeScript: export types of 'domhandler/lib/node'"
Hi @remarkablemark,

I think it's best to create an issue for our discussion (starting [here](https://github.com/remarkablemark/html-react-parser/pull/201#issuecomment-825549767)) in the merged PR than to discuss further there.

As [suggested](https://github.com/remarkablemark/html-react-parser/pull/201#issuecomment-833261077) the solution could be to export the types alongside `html-react-parser`

[2021-05-26 16:45] remarkablemark commented on #252
@natterstefan the library is already exporting types in [index.d.ts](https://github.com/remarkablemark/html-react-parser/blob/v1.2.6/index.d.ts). What type are you suggesting that needs to be exported?

[2021-05-27 05:37] natterstefan commented on #252
Hi @remarkablemark,

I think I see my confusion now. When I first had the issue in Next.js and with TypeScript, I saw [this comment](https://github.com/remarkablemark/html-react-parser/issues/221#issuecomment-771600574). The comment connotes that you have to `import { Element } from "domhandler/lib/node";` to use the `Element` type. But in fact (and I was not aware of that until now), you export i

[2021-06-10 05:41] dineshpannu opened #255 "CommonJS import form has changed"
## Expected Behavior

Documentation states CommonJS import looks like:
`const parse = require('html-react-parser');`

## Actual Behavior

This results in a "parse is not a function" error.

Using this instead works:
`const parse = require('html-react-parser').default;`

## Reproducible Demo

Not working: https://codesandbox.io/s/amazing-lalande-807jt
Working with ".default": https://codesandbox.io

[2021-06-10 15:48] remarkablemark commented on #255
Thanks for opening this issue @dineshpannu.

I checked the Node.js [Repl.it](https://replit.com/@remarkablemark/html-react-parser) and the CommonJS syntax still works as expected.

For Create React App, this is expected behavior since Webpack uses the [MJS](https://github.com/remarkablemark/html-react-parser/blob/v1.2.6/index.mjs) file by default.

[2021-06-10 15:52] remarkablemark commented on #252
Since [v1.2.6](https://github.com/remarkablemark/html-react-parser/blob/v1.2.6/package.json#L40), `domhandler` comes installed as a dependency.

Do we want any additional code or `README.md` improvements?

[2021-06-11 02:09] dineshpannu commented on #255
Ok, might just need to be documented then.

Reason I'm using "require" instead of "import" is conditional loading for SSR. That's a separate ticket that I need to gather more data for.

[2021-06-11 03:23] remarkablemark commented on #255
Gotcha, would you be interested in opening a PR to improve [documentation](https://github.com/remarkablemark/html-react-parser/blob/v1.2.6/README.md)?

[2021-06-11 11:01] dogriffiths opened #256 "Throws error when styles are corrupted"
## Expected Behavior

- Parse a string with a corrupted style attribute, e.g. ‘&lt;p style="font - size: 1em"&gt;X&lt;/p&gt;’
- Return a version that skips the corrupted style ‘&lt;p&gt;X&lt;/p&gt;’?

## Actual Behavior

## Steps to Reproduce

Throws an exception: undefined:1:6: property missing ':'
## Reproducible Demo
https://jsfiddle.net/bjwmd5s6/

## Environment

- Version: 1.2.6
- Platform: M

[2021-06-12 17:43] roybcr commented on #221
I was able to fix this with the code below, hope it would help

<img width="891" alt="Screen Shot 2021-06-12 at 20 32 31" src="https://user-images.githubusercontent.com/68123426/121784745-6265de00-cbbe-11eb-8999-feb5f505aea2.png">

[2021-06-22 21:55] kevinpfox commented on #199
If you ended up here and tried the recommended solution and it still didn't work and you aren't interested in processing "Text" nodes and only care about processing "Tag" nodes, you can try the following...

[code]

I don't know why the recommended solution did not work in our project. It looks logical. For our project `domNode instanceof Element` was always evaluating as `false` and execution ref

[2021-06-22 22:12] kevinpfox commented on #199
@remarkablemark, thank you for making your great tool available! Would be great if  `isTag` and `Element` from `domhandler` library were exposed via `html-react-parser`, so `domhandler` doesn't need to be added as a project dependency. At some point I wonder if `html-react-parser`'s `domhandler` and our `domhandler` versions will go far enough out of sync to introduce a breaking change in the futu

[2021-06-22 22:20] remarkablemark commented on #199
@kevinpfox I'm open to exporting `isTag` (and maybe `Element`) from `domhandler` if a lot of people are experiencing pain with the current approach.

I'm open to a PR but I do want to make sure including this won't add to the bundle size too much.

We can continue discussion in #252 if it's similar.

[2021-06-22 22:46] kevinpfox commented on #199
Thanks for mentioning other thread. I tried the following approach and it fixed the same problem without needing to import an additional project dependency. https://gist.github.com/natterstefan/3bc712eca6ff88781d687b7240a78cc1   I'm also working on a Next.js project.

[2021-06-22 23:36] remarkablemark commented on #199
Nice! If this is helpful, would you be interested in opening a PR to document that approach in the `README.md`?

[2021-06-23 07:20] kishoreio opened #260 "Not converting to html if the string is <h1</br>"
When the string is <h1</br> and sending this to parse function not outputting the value in UI. If not then how to output the <h1<br/> ?

[2021-06-29 19:39] natterstefan commented on #252
Hi @remarkablemark,

To be honest I am not sure. My problem was solved by installing the `domhandler` package. Only then I was able to check the instance of the element.

This is the actual problem that is left, when we put the types aside (v1.2.6 handles that already). Wouldn't it be possible to export the runtime `Element` (as described [here](https://github.com/remarkablemark/html-react-parser#

[2021-06-30 14:31] capJavert commented on #246
@remarkablemark any way we can fix this? Any ideas?

[2021-06-30 17:31] remarkablemark commented on #246
@capJavert I don't think there's an easy way to resolve this.

Even if you try sanitizing the HTML string, self-closing custom elements are removed: https://replit.com/@remarkablemark/html-react-parser-246

[2021-07-07 00:01] danielsnider commented on #168
This is an issue for me too. Anyone have a work-around?

[2021-07-07 23:15] lazerwalker commented on #168
I personally did not manage to find a browser (rather than Node) solution, but I have not looked at this in a year.

[2021-07-14 07:43] markwoon opened #262 "1.2.7"
## Actual Behavior

After upgrading from 1.2.6 to 1.2.7, I'm seeing this in the console:

[code]

This breaks my entire app.  The problem goes away when I downgrade to 1.2.6.

I believe this is caused by the domhandler upgrade:  https://github.com/fb55/domhandler/issues/575

Unfortunately I can't seem to produce a simple reproduction of the issue.

[2021-07-14 08:43] markwoon commented on #262
It looks like my deps were broken (was using an older version of `domelementtype`).

[2021-07-14 08:43] #262 closed

[2021-07-16 13:38] peckyboy commented on #252
Some of the properties in the HTMLReactParserOptions type are missing (eg children,attribs).

[2021-07-16 13:47] peckyboy commented on #199
Why is this so though? I think exporting `Element` from `html-react-parser` and/or updating the `README.md` would help greatly.
Thank you.

[2021-07-21 13:39] h0jeZvgoxFepBQ2C commented on #168
I'm also looking for a solution for this problem, our app is running in the browser...? Actually this issue should be reopened @remarkablemark ?

[2021-07-21 14:08] h0jeZvgoxFepBQ2C opened #263 "attributesToProps converts case to lower case"
It seems that the ```attributesToProps``` method is converting all keys to lowercase (see https://github.com/remarkablemark/html-react-parser/blob/master/lib/attributes-to-props.js#L37 ).

Why is this happening?
We would like to pass case-sensitive attributes to our dynamic html content and with the current implementation it doesn't work, since all attributes are converted to lower case?

[2021-08-11 00:31] remarkablemark commented on #200
@SavedByZero I took a look at your [CodeSandbox](https://codesandbox.io/s/eloquent-sara-stiis?file=/src/App.js) and it seems like the bold element is rendering correctly?

If that's the case, then I believe everything is working as expected and I'll be closing the issue.

Feel free to reopen if there's anything else you'd like to bring up.

[2021-08-11 00:31] #200 closed

[2021-08-11 00:34] remarkablemark commented on #233
Closing issue due to inactivity. Feel free to reopen if there are any new updates.

[2021-08-11 00:35] remarkablemark commented on #246
Closing issue due to inactivity. Feel free to reopen if there are any new updates.

[2021-08-11 00:35] #246 closed

[2021-08-11 00:36] remarkablemark commented on #250
Closing issue due to inactivity. Feel free to reopen if there are any new updates.

[2021-08-11 00:36] #250 closed

[2021-08-11 00:37] remarkablemark commented on #252
That's fair, I'm open to exporting `Element`. Would you be interested in opening a PR?

[2021-08-11 00:40] remarkablemark commented on #260
@kishoreio can you provide a reproducible example using [Replit](https://repl.it/@remarkablemark/html-react-parser) or [CodeSandbox](https://codesandbox.io/s/940pov1l4w)?

[2021-08-11 00:45] remarkablemark commented on #263
Thanks for the question @h0jeZvgoxFepBQ2C, `attributesToProps` converts all keys to lowercase because the DOM/SVG attributes get remapped to React props (e.g., `class` to `className`).

On the browser, the attributes technically don't care about case-sensitivity. Is there a particular reason why you need case-sensitive attributes?

There are [htmlparser2 options](https://github.com/remarkablemark/

[2021-08-11 07:27] h0jeZvgoxFepBQ2C commented on #263
Thanks for the follow up @remarkablemark

Actually we would like to pass react specific arguments to our html, so we can use these attributes directly.. F.e. imagine a div should be replaced with a countdown element with the argument ```endsAt```:

[code]
should be converted to
[code]

So if the arguments are always downcased, I cannot use them for the react components?

[2021-08-12 04:36] #256 closed

[2021-08-12 04:43] remarkablemark commented on #256
Published [v1.2.8](https://github.com/remarkablemark/html-react-parser/releases/tag/v1.2.8):

[npm](https://www.npmjs.com/package/html-react-parser):

[code]

[Yarn](https://yarnpkg.com/package/html-react-parser):

[code]

[2021-08-13 16:24] iDVB opened #268 "How should/can we use css selectors to traverse the nodes?"
Currently we want to supply a `replace` function that can detect a given pattern and then traverse that node's children to handle that node in two ways:

1) Find what the value is of a specific `attribs` by traversing its children and use that value to define which react component should wrap the root node.
2) Remove ALL child nodes to that node other than `Text`.

Diving into the dependencies I c

[2021-09-12 23:39] AlenToma opened #282 "unable to rightly parse html when it contain some html tags with no ends."
I am unable to parse the current html from some reason

[code]

## My current Code is

[code]

This is on Node.js with the latest version 4.1.4

Here is snack example if you would like to test

[snack](https://snack.expo.dev/@alentoma/html-test)

[2021-09-13 11:17] Marko-Matijevic opened #284 "Unable to parse css styles which contain !important"
## Expected Behavior
Styles with important should be applied to parsed HTML

## Actual Behavior
HTML which contains style rule with !important does not get applied after parsing

## Steps to Reproduce

Create a HTML inside a string which contains style rule with !important;
`const html =
      <h1 style="display: none !important;">
        html-react-parser
      </h1>;`

After using:
`parse(html)

[2021-09-22 15:00] lukebussey opened #294 "Client-side code is different from server-rendered code"
I'm running into an issue where the rendered client-side code is different from whats rendered on the server. The actual problem is that it's changing the href in a number of links. I'm not sure where to even start looking into this issue so any pointers would be a great start.

## Expected Behavior

Output should be the same on the client as the server-rendered code

## Actual Behavior

# Server

[2021-09-22 16:47] #294 closed

[2021-09-26 14:19] natterstefan commented on #252
Hi @remarkablemark,

I finally had time to contribute and I've created a PR for you to review here https://github.com/remarkablemark/html-react-parser/pull/296.

[2021-09-28 21:11] rivajunior opened #301 "Removing property value from MathML"
## Expected Behavior

![image](https://user-images.githubusercontent.com/11370172/135165277-b6309303-f54c-41ce-986c-1737cb6b225b.png)

## Actual Behavior

![image](https://user-images.githubusercontent.com/11370172/135165306-000cf628-1c18-4289-b017-7e3dc49085e4.png)

## Steps to Reproduce

[code]

## Reproducible Demo

https://codesandbox.io/s/peaceful-buck-72od5?file=/src/App.js

## Environment

[2021-10-01 04:18] #252 closed

[2021-10-01 04:18] #221 closed

[2021-10-01 04:22] remarkablemark commented on #252
Thanks for the contribution @natterstefan, your changes will be released in [1.4.0](https://github.com/remarkablemark/html-react-parser/pull/306)

[2021-10-01 04:24] remarkablemark commented on #221
#296 released in [1.4.0](https://github.com/remarkablemark/html-react-parser/pull/306)

[2021-10-01 04:24] remarkablemark commented on #199
#296 released in [1.4.0](https://github.com/remarkablemark/html-react-parser/pull/306)

[2021-10-01 05:35] natterstefan commented on #252
Thank you very much and you're welcome, @remarkablemark!

[2021-10-14 19:25] christianfredh opened #321 "Parsing <input> "checked" and "value""
Parsing `<input type="checkbox" checked />` gives this warning:
You provided a `checked` prop to a form field without an `onChange` handler. This will render a read-only field. If the field should be mutable use `defaultChecked`. Otherwise, set either `onChange` or `readOnly`.

Parsning `<input type="text" value="initial value" />` gives this warning:
You provided a `value` prop to a form field wi

[2021-11-04 03:17] ccxxjjnnbb commented on #165
Any news？ Facing the same issue.

[2021-11-09 03:49] dbehmoaras commented on #199
I tried this solution, but it does not work. The instanceof check returns false on every run. Unfortunately due to factors out of my control, we are unable to update to 1.4 (at least not yet). Do you have any other ideas? I would greatly appreciate your thoughts. Thanks!

[2021-11-22 18:22] joneldiablo commented on #132
I have the same problem, I have some components wich I need put as string like: `"<Component />"` if I use like this not works, only `"<Component></Component>"`

[2021-11-22 18:49] sowhatdoido commented on #132
For anyone looking for a solution to this, per my conversation with the author and unless he changes his mind otherwise: this  is an HTML to React parser, not a JSX to React parser, a subtle but important difference. Your tags are being auto closed by the browser itself, not something the author's code is doing, and you can override it by using replace if you'd like but in my experience dealing wi

[2021-11-26 06:22] yashvekaria opened #364 "Dynamic html is not able to generated from the embedded script under specific element even after it gets replaced and executed."
Hi,

I am using this parser in the gatsby project, where I get article content in the HTML string format and I sanitize it using the `parse` method. In my case, I have shown polldaddy (survey) embedded code.

From issue [#98](https://github.com/remarkablemark/html-react-parser/issues/98), I came to know to execute the script need to use the `replace` function, which I did for polldaddy, I have rep

[2021-11-30 03:42] yashvekaria commented on #364
I exactly understood the problem lies behind this question, actually, the polldaddy 3rd party script is creating its HTML using `document.write()` method which creates error as its script is being dynamically added, which does not encourage document.write method. here's is the [StackOverflow link](https://stackoverflow.com/questions/70120717/the-embedded-widget-script-unable-to-generate-its-html-i

[2021-11-30 03:42] #364 closed

[2021-12-03 22:16] tomconroy commented on #221
It's possible to use duck typing to get domNode as an Element:

[code]

[2021-12-10 05:05] vidhu opened #384 "Only trim nodes if parent can't contain text nodes"
When parsing html, in most cases we need to enable trim to prevent the `validateDOMNesting` errors

[code]

However this doesn't always work. There may be cases where a div contains a `&nbsp` character. During parsing, this gets trimmed out.

[code]
[CodeSandBox Demo](https://codesandbox.io/s/html-react-parser-205-forked-zvbmz)

Note, the whitespace before the `Hello` aren't spaces . They are `&nb

[2021-12-10 05:12] remarkablemark commented on #384
@vidhu Would it be possible to do what you need with [replace](https://github.com/remarkablemark/html-react-parser/tree/v1.4.2#replace)?

[2021-12-10 05:20] vidhu commented on #384
@remarkablemark I don't think so unfortunately. The issue is that I want to trim only certain kind of whitespaces. To do this, I need to be able to specify my own trimming logic instead of this https://github.com/remarkablemark/html-react-parser/blob/a41e35297307f49d936f36ed6c9c32fc86d65dfd/lib/dom-to-react.js#L55-L60

replace would only help me in specifying which elements to trim, not which kind

[2021-12-10 05:28] remarkablemark commented on #321
Sorry for the late response @christianfredh, but does the warning show up for all `input` types and `textarea`? Also, does this warning change the expected behavior of the elements? If so, then it might make sense for the package to handle.

Do you think there would be any downside if `defaultValue` and `defaultChecked` are always set for DOM nodes with `value` and `checked` attributes?

[2021-12-10 05:29] remarkablemark commented on #301
@rivajunior Sorry for the late comment but would it be possible for you to remove the property with [replace](https://github.com/remarkablemark/html-react-parser/tree/v1.4.2#replace)?

[2021-12-10 05:50] remarkablemark commented on #284
Thanks for opening the issue @Marko-Matijevic!

This is expected behavior since React considers inline style value with `!important` invalid since

[code]

gets parsed into

[code]

See [JSFiddle](https://jsfiddle.net/remarkablemark/w1psyt6h/).

My recommendation is to use [replace](https://github.com/remarkablemark/html-react-parser/tree/v1.4.2#replace) to remove `!important`.

[2021-12-10 05:50] #284 closed

[2021-12-10 05:52] remarkablemark commented on #282
Apologies for the late response @AlenToma but are you still unable to parse the HTML?

[2021-12-10 05:57] remarkablemark commented on #268
Thanks for opening the issue @iDVB! Unfortunately, we don't have an API to support parsing like `cheerio` or `css-select`. I recommend checking out the additional [replace](https://github.com/remarkablemark/html-react-parser/tree/v1.4.2#replace) examples to see if they're applicable. Feel free to reopen the issue if you still have any questions.

[2021-12-10 05:57] #268 closed

[2021-12-10 06:05] remarkablemark commented on #132
You summarized it nicely @sowhatdoido and thanks for sharing your alternative solution!

[2021-12-10 06:28] remarkablemark commented on #384
Question: @vidhu in your example above, how do you differentiate if something is a normal space vs `&nbsp;`? Or do you only want to control which elements get trimmed?

In the current code, only text nodes are trimmed so are you asking to change that logic? https://github.com/remarkablemark/html-react-parser/blob/a41e35297307f49d936f36ed6c9c32fc86d65dfd/lib/dom-to-react.js#L53-L64

[2021-12-10 08:43] AlenToma commented on #282
I am using it together with `react-native-html-parser`

`react-native-html-parser` will enclose all open html tags and then I parse the html again.

[2021-12-10 15:34] vidhu commented on #384
Hey @remarkablemark. I'm talking about the former case. I want to only trim a subset of white spaces.

I would do this like so:
[code]
Here's a regex101 link to see what's being matched https://regex101.com/r/gJpVYH/1/

[2021-12-10 19:52] remarkablemark commented on #384
Gotcha @vidhu, so back to your original example where you say the whitespace before `Hello` is getting trimmed out, I checked your [CodeSandbox](https://codesandbox.io/s/html-react-parser-205-forked-zvbmz) and saw that the whitespace before the `Hello` is maintained but that's not how it renders in the browser:

<img width="160" alt="Screen Shot 2021-12-10 at 2 47 41 PM" src="https://user-images.g

[2021-12-10 20:48] vidhu commented on #384
@remarkablemark you're right. not sure how that happens. I've updated the [sandbox](https://codesandbox.io/s/html-react-parser-205-forked-mc9x3?file=/src/index.js) to show this issue better. I've replaced the characters with html's `&nbsp;`

Turns out `.trim()` will trim off `&nbsp` only when its by its self.

[code]
![image](https://user-images.githubusercontent.com/1566265/145639138-92d7374d-5ad

[2021-12-12 09:49] rancy98 opened #385 "[BUG]: Pnpm soft chain mode is not supported"
## Expected Behavior

Support pnpm installation.

## Actual Behavior

Not support.

## Steps to Reproduce

`pnpm install` and then starting a project and get error.

## Environment

- Version: latest
- Platform: macOS && Win64
- Browser: Chrome

[2021-12-12 22:15] remarkablemark commented on #385
Can you provide a reproducible example? I'm able to run `pnpm install html-react-parser` on Replit: https://replit.com/@remarkablemark/html-react-parser-385

[2021-12-12 22:19] remarkablemark commented on #384
Thanks for updating your example @vidhu, I think this might be coming from [html-dom-parser](https://github.com/remarkablemark/html-dom-parser) since I believe the native DOM API parses `&nbsp;` to ` `.

[2021-12-12 23:15] vidhu commented on #384
@remarkablemark hmm that confuses me. In some cases, `&nbsp;` is converted to UTF-8 [`U+00A0`](https://www.fileformat.info/info/unicode/char/00a0/index.htm) and other cases it ends up as [`U+0020`](https://www.fileformat.info/info/unicode/char/0020/index.htm) (regular spaces). So I feel this approach of modifying the trim function wouldn't always work.

I do have an alternative approach. Could we

[2021-12-13 23:09] remarkablemark commented on #321
Bug will be fixed in #388

[2021-12-13 23:12] #321 closed

[2021-12-13 23:14] remarkablemark commented on #321
Released in #389

[2021-12-14 05:49] vidhu commented on #384
Hey @remarkablemark Not sure if I was clear in my earlier post but I've opened a PR #394 incase it help you in evaluating if this is a good change or not.

[2021-12-15 02:55] remarkablemark commented on #384
Thanks, I left comments

[2021-12-18 06:34] #384 closed

[2021-12-18 06:36] remarkablemark commented on #384
Released in https://github.com/remarkablemark/html-react-parser/pull/395#issuecomment-997154880

[2021-12-20 12:33] RoelVB commented on #385
I'm using `html-react-parser` in combination with `pnpm` without any issues.

pnpm v5.16.0
node v12.22.5
html-react-parser v1.4.3
OS: Win10

[2022-01-07 14:12] christianfredh commented on #321
Sorry, didn't have a chance to look into it again. It looks like a good change.

[2022-01-25 12:12] h0jeZvgoxFepBQ2C commented on #263
@remarkablemark Any thoughts on this? Your library would offer much more possibilities if it doesn't convert all keys to downcase. And as you said, browsers don't care about case sensitivity, so it wouldn't make a difference?

Right now there is only this downside, that we can't use it to pass props directly to other React components?

[2022-01-27 15:33] AndrewLeedham opened #433 "ESM declared as `module` main field instead of `exports`"
## Expected Behavior
When using ESM with `import { attributesToProps } from 'html-react-parser';` it should import the `index.mjs` entry, and `attributesToProps` should be a function.

## Actual Behavior

It instead tries to import `index.js` and fails with:
[code]

## Potential Solution
The package currently uses `"module": "index.mjs"`, the ESM spec has since use `"exports": "./index.mjs"`. So t

[2022-01-28 20:26] #433 closed

[2022-01-28 20:50] remarkablemark commented on #433
https://github.com/remarkablemark/html-react-parser/pull/436#issuecomment-1024614229

[2022-02-04 15:02] SebastianMera opened #442 "Migration to Gatsby 4 & html-react-parser"
I recently updated a project to Gatsby 4 and re-intalled the dependencies with yarn (I was using html-react-parser 1.2.7 and now it updated to 1.4.6).

Running gatsby-develop and then when the process starts the building of the development bundle I have this error:

ModuleNotFoundError: Module not found: Error: Package path ./lib/dom-to-react is not exported from
package /Users/myUser/Desktop/proj

[2022-02-04 16:54] remarkablemark commented on #442
Hmm I'm not sure. Can you try nuking node modules and reinstalling?

[code]

[2022-02-05 05:19] remarkablemark commented on #385
Closing issue due to inactivity. Feel free to reopen if there are any new updates.

[2022-02-05 05:19] #385 closed

[2022-02-05 05:24] remarkablemark commented on #263
@h0jeZvgoxFepBQ2C If you're using the library only on the server-side (Node.js), then you can override the [htmlparser2 options](https://github.com/remarkablemark/html-react-parser/tree/v1.4.7#htmlparser2). You can find a list of the parser options [here](https://github.com/fb55/htmlparser2/wiki/Parser-options#option-xmlmode).

[2022-02-05 05:26] remarkablemark commented on #260
Closing issue due to inactivity. Feel free to reopen if there are new updates.

[2022-02-05 05:26] #260 closed

[2022-02-05 09:12] h0jeZvgoxFepBQ2C commented on #263
I know, but we are clientside rendering

[2022-02-06 14:53] muhmushtaha opened #445 "TypeError: htmlToDOM is not a function"
## Expected Behavior

 import parser from 'html-react-parser';
Use the parser normally and render the html

## Actual Behavior

Cause a type error
![image](https://user-images.githubusercontent.com/25417060/152686436-614c9c28-72d7-432b-8767-2a2d5579d5cd.png)

## Steps to Reproduce

1- Install the latest version of package 1.4.7
2- Use it normally like this
import parse from 'html-react-parser';
pa

[2022-02-06 19:39] remarkablemark commented on #445
@muhmushtaha can you confirm that version 1.4.6 still works as expected? If so, I will revert the changes in 1.4.7

[2022-02-06 19:43] muhmushtaha commented on #445
Yes, I reverted the version to 1.4.6 and tested it, it works without issues.
@remarkablemark

[2022-02-06 20:11] remarkablemark commented on #445
Thanks, I'll open a PR for the fix for next@10.

In my investigation, I discovered that there is no error if you're on next@11 or next@12.

[2022-02-06 20:34] #445 closed

[2022-02-06 20:36] remarkablemark commented on #445
Released `1.4.8`. See https://github.com/remarkablemark/html-react-parser/pull/447#issuecomment-1030909291

[2022-02-08 21:53] sampath42 opened #451 "TypeError: o is not a function"
I am getting error "TypeError: o is not a function"

![image](https://user-images.githubusercontent.com/13943994/153081200-a4b5eb10-4826-4fe3-84f6-433385e33f04.png)

below is the image from actual source code in HTMLReactParser function of node_modules>html-react-parser>dist>html-react-parser.js

![image](https://user-images.githubusercontent.com/13943994/153081421-c8592a12-75de-428c-aad2-425fd986

[2022-02-09 00:19] remarkablemark commented on #451
@sampath42 can you confirm your version is `1.4.4`? I recently upgraded `html-dom-parser` in `1.4.7` so I wonder if it's related to that

[2022-02-09 17:13] remarkablemark commented on #451
@sampath42 can you try upgrading to the latest version?

[2022-02-24 21:44] aress31 opened #465 "Detect last child"
Is there an easy way to detect if a tag is the last child, for instance, I replace all my `p` with the `Typography` component as follows:

[code]

However, I would need to know if the `p` tag is the last one to be able to set the `paragraph` prop accordingly. Or a way to include custom parameter to the `parseHeroOptions` method so that I can handle the logic outside of this method.

Any clue?

[2022-02-25 02:15] remarkablemark commented on #465
@aress31 it's possible if you trim all whitespace for your HTML markup. Then you can:

1. Check against parent's last child or
2. Check there is no next element

# Approach 1

[code]

# Approach 2

[code]

# Demo

https://replit.com/@remarkablemark/html-react-parser-465

[2022-02-25 03:42] aress31 commented on #465
@remarkablemark thanks for the answer I went for an easier solution of adding a class to the last <p> of each section so that I can flag them using `domNode.attrbs.class`.

I reckon it could be worth it adding a method such as `domNode.isLastChild` that would return whether the element is the last child of a sequence of a given tag. Could even extend that to `isFirstChild` or `isChild(n)`.

What d

[2022-02-25 06:20] remarkablemark commented on #465
@aress31 Thanks for the suggestion but I believe adding this method will lead to a lot of complexity and edge cases since the HTML to DOM parsing is handled by [html-dom-parser](https://github.com/remarkablemark/html-dom-parser).

Since your original question was answered, I will close this issue.

[2022-02-25 06:20] #465 closed

[2022-03-02 15:00] giagara opened #469 "Add content to inner text"
I am using this package and works perfectly.

Now i need to edit the content of the provided text (coming from API).
Based on a property i need to add a * to the inner text, like:

`<p><span style="color: 'red'">some text</span></p>`

should become

`<p><span style="color: 'red'">some text *</span></p>`

I read about replace method but can't figure out how to implement it

[2022-03-17 12:57] meesfrenkelfrank opened #482 "Javascript code in script-tag not executing in React"
I am getting this example HTML markup back from api:

`const html = "<div class='my-class' data-src='/event/889979743'></div> <script>alert('Hello world')</script>";`

Then I parse this HTML in my React component like:
`return <div data-testid="html-paragraph">{parser(html)}</div>;`

Why is the parsed Javascript code  `<script>alert('Hello world')</script>`  not executing?

Here my [code sandbox](

[2022-03-17 21:37] remarkablemark commented on #482
This is expected behavior. See [Are <script> tags parsed?](https://github.com/remarkablemark/html-react-parser/tree/v1.4.8#are-script-tags-parsed)

[2022-03-19 16:15] meesfrenkelfrank commented on #482
@remarkablemark ok thanks. Not in above example but the real script getting back from api (and parsed through `html-react-parser`),  how to handle this properly, so below script gets executed?
[code]

[2022-03-19 18:02] remarkablemark commented on #482
@meesfrenkelfrank you can use [eval](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/eval) (although I don't recommend it because it's [unsafe](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/eval#never_use_eval!))

Here's an example of how to do it with [replace](https://github.com/remarkablemark/html-react-parser/tree/v1.4.8#repla